---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// VARIABLES

$background-color:    #fafafa;
$font-text:           "fira-sans";
$font-heading:        "brandon-grotesque";
$font-accent:         "freight-text-pro";
$text-color:          #383a3a;
$primary-color:       #8adadb;
$secondary-color:     #bde2e8;
$grayscale-light:     #c7cdce;

$width-border-hairline: 2px;
$width-border-thick:    10px;  


// MIXINS

@mixin transition-link {
  transition-duration: 0.5s;
  transition-property: border-bottom, color;
  transition-timing-function: ease-out;
}

@mixin transition-button-hairline {
  transition-duration: 0.5s;
  transition-property: border, color;
  transition-timing-function: ease-out;
}

@mixin sticky-footer($footer-height, $wrapper-selector: unquote(".page-wrapper"), $container-selector: unquote(".page-container"), $footer-selector: unquote(".site-footer")) {
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding: 0 0 0 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bourbon/bourbon",
  "neat/neat",
  "meyer-reset",
  "base"
;
