/* $TITLE **********************************************************************

  Style rules for Jenmyers.net
  Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/
/* $CONTENTS *******************************************************************

  * Imports
  * Mixins
  * Fonts
  * Variables
  * Grid
  * Breakpoints
  * Base
  * Layout
  * Modules
  * Media Queries

*******************************************************************************/
/* $IMPORTS *******************************************************************/
/* line 17, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $MIXINS ********************************************************************/
/* $FONTS *********************************************************************/
@font-face {
  font-family: "entypo";
  src: url('/css/fonts/entypo.eot');
  src: url('/css/fonts/entypo.eot?#iefix') format('eot'), url('/css/fonts/entypo.woff') format('woff'), url('/css/fonts/entypo.ttf') format('truetype'), url('/css/fonts/entypo.svg') format('svg');
}

@font-face {
  font-family: "entypo-social";
  src: url('/css/fonts/entypo-social.eot');
  src: url('/css/fonts/entypo-social.eot?#iefix') format('eot'), url('/css/fonts/entypo-social.ttf') format('truetype'), url('/css/fonts/entypo-social.woff') format('woff'), url('/css/fonts/entypo-social.svg') format('svg');
}

/* $VARIABLES *****************************************************************/
/* $GRID **********************************************************************/
/* $BREAKPOINTS ***************************************************************/
/* $BASE **********************************************************************/
/* line 61, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 65, ../sass/screen.scss */
body {
  background-color: white;
  color: #333333;
  font-family: "republic-web", serif;
  font-size: 1em;
  margin: 0;
}

/* line 75, ../sass/screen.scss */
header {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  text-transform: uppercase;
}
/* line 81, ../sass/screen.scss */
header a {
  color: #666;
  padding: 1em;
}
/* line 84, ../sass/screen.scss */
header a:hover {
  color: #000;
}

/* line 90, ../sass/screen.scss */
p {
  line-height: 140%;
}

/* line 94, ../sass/screen.scss */
p.home {
  color: #999;
  font-family: "proxima-nova", sans-serif;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 140%;
  margin-top: 1em;
}

/* line 103, ../sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 107, ../sass/screen.scss */
.writing {
  color: #19b3b3;
}

/* line 111, ../sass/screen.scss */
.speaking {
  color: #bc3434;
}

/* line 115, ../sass/screen.scss */
.projects {
  color: #b6b11b;
}

/* line 119, ../sass/screen.scss */
.about {
  color: #b31966;
}

/* line 125, ../sass/screen.scss */
a {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  text-decoration: none;
}
/* line 129, ../sass/screen.scss */
a.writing {
  color: #19b3b3;
}
/* line 133, ../sass/screen.scss */
a.speaking {
  color: #bc3434;
}
/* line 137, ../sass/screen.scss */
a.projects {
  color: #b6b11b;
}
/* line 140, ../sass/screen.scss */
a.about {
  color: #b31966;
}

/* line 145, ../sass/screen.scss */
p.home a {
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
/* line 148, ../sass/screen.scss */
p.home a:hover {
  border-bottom: 1px solid #555;
  color: #555;
}

/* line 156, ../sass/screen.scss */
.icon {
  font-weight: normal;
}
/* line 158, ../sass/screen.scss */
.icon:before {
  content: attr(data-icon);
  font-family: "entypo";
  font-size: 2em;
  speak: none;
}
/* line 164, ../sass/screen.scss */
.icon.writing {
  color: #19b3b3;
}
/* line 167, ../sass/screen.scss */
.icon.speaking {
  color: #bc3434;
}
/* line 170, ../sass/screen.scss */
.icon.projects {
  color: #b6b11b;
}

/* line 176, ../sass/screen.scss */
.social .icon {
  font-size: 2em;
  padding: 0.8em;
}
/* line 179, ../sass/screen.scss */
.social .icon.twitter:before, .social .icon.tumblr:before, .social .icon.github:before, .social .icon.dribbble:before, .social .icon.instagram:before, .social .icon.pinterest:before {
  font-family: "entypo-social";
  content: attr(data-icon);
}
/* line 183, ../sass/screen.scss */
.social .icon.rss:before {
  font-family: "entypo";
  content: attr(data-icon);
}

/* $LAYOUT ********************************************************************/
/* line 192, ../sass/screen.scss */
header, section, footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after, section:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 196, ../sass/screen.scss */
.header-wrapper {
  border-bottom: 2px solid #eee;
}

/* line 200, ../sass/screen.scss */
h1 {
  width: 35.89744%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}

/* line 204, ../sass/screen.scss */
nav {
  width: 61.53846%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 209, ../sass/screen.scss */
.footer-wrapper {
  border-top: 2px solid #eee;
  margin-top: 4em;
}

/* line 214, ../sass/screen.scss */
footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

/* line 219, ../sass/screen.scss */
.social {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 221, ../sass/screen.scss */
.social li {
  display: inline;
}
/* line 223, ../sass/screen.scss */
.social li a {
  color: #ccc;
  padding: 0;
}
/* line 226, ../sass/screen.scss */
.social li a:hover {
  color: #333;
}

/* line 232, ../sass/screen.scss */
.contact {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  color: #999;
  font-size: 1em;
  margin-top: 1.5em;
  text-align: right;
  text-transform: uppercase;
}
/* line 239, ../sass/screen.scss */
.contact a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ccc;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  margin-right: 1em;
  padding: 0.75em 1em;
}
/* line 246, ../sass/screen.scss */
.contact a:hover {
  background-color: #333;
}

/* $MODULES *******************************************************************/
/* $MEDIA QUERIES *************************************************************/
