@charset "UTF-8";
/* $TITLE **********************************************************************

	Style rules for Jenmyers.net
	Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/
/* $CONTENTS *******************************************************************

	* Imports
	* Mixins
	* Fonts
	* Variables
	* Grid
	* Breakpoints
	* Base
	* Layout
	* Modules
	* Media Queries

*******************************************************************************/
/* $IMPORTS *******************************************************************/
/* line 17, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $MIXINS ********************************************************************/
/* $FONTS *********************************************************************/
@font-face {
  font-family: "entypo";
  src: url('/css/fonts/entypo.eot');
  src: url('/css/fonts/entypo.eot?#iefix') format('eot'), url('/css/fonts/entypo.woff') format('woff'), url('/css/fonts/entypo.ttf') format('truetype'), url('/css/fonts/entypo.svg') format('svg');
}

@font-face {
  font-family: "entypo-social";
  src: url('/css/fonts/entypo-social.eot');
  src: url('/css/fonts/entypo-social.eot?#iefix') format('eot'), url('/css/fonts/entypo-social.ttf') format('truetype'), url('/css/fonts/entypo-social.woff') format('woff'), url('/css/fonts/entypo-social.svg') format('svg');
}

/* $VARIABLES *****************************************************************/
/* $GRID **********************************************************************/
/* $BREAKPOINTS ***************************************************************/
/* $BASE **********************************************************************/
/* line 65, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 69, ../sass/screen.scss */
body:before {
  background-color: #eeeeee;
  content: "";
  height: 2em;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 78, ../sass/screen.scss */
body {
  background-color: white;
  color: #333333;
  font-family: "republic-web", serif;
  font-size: 1em;
  margin: 0;
}
/* line 84, ../sass/screen.scss */
body.home {
  border-left: 2em solid #eeeeee;
}

/* line 106, ../sass/screen.scss */
header {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
}
/* line 110, ../sass/screen.scss */
header ul li {
  list-style: none;
  margin-bottom: 1em;
  padding: 1em 1.5em 1em 1em;
}
/* line 114, ../sass/screen.scss */
header ul li:first-child {
  margin-top: 2em;
}
/* line 117, ../sass/screen.scss */
header ul li:last-child {
  margin-bottom: 0;
}
/* line 120, ../sass/screen.scss */
header ul li.current {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #eee;
}
/* line 127, ../sass/screen.scss */
header a {
  color: #999999;
}
/* line 129, ../sass/screen.scss */
header a:hover {
  color: #333333;
}

/* line 135, ../sass/screen.scss */
.featured {
  border-bottom: 2px solid #eee;
  padding-bottom: 3em;
  text-transform: uppercase;
}
/* line 139, ../sass/screen.scss */
.featured h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 3.2em;
  font-weight: 300;
  padding: 0.2em 0;
  text-transform: none;
}
/* line 145, ../sass/screen.scss */
.featured h2.writing a {
  color: #cc5c5c;
}
/* line 148, ../sass/screen.scss */
.featured h2.speaking a {
  color: #41c3c3;
}
/* line 151, ../sass/screen.scss */
.featured h2.projects a {
  color: #cece64;
}
/* line 154, ../sass/screen.scss */
.featured h2.writing a:after, .featured h2.speaking a:after, .featured h2.projects a:after {
  color: #fff;
  content: "→";
  margin-left: 0.2em;
}
/* line 159, ../sass/screen.scss */
.featured h2.writing a:hover, .featured h2.speaking a:hover, .featured h2.projects a:hover {
  color: #333333;
}
/* line 161, ../sass/screen.scss */
.featured h2.writing a:hover:after, .featured h2.speaking a:hover:after, .featured h2.projects a:hover:after {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #cccccc;
}
/* line 168, ../sass/screen.scss */
.featured h3 {
  font-family: "proxima-nova-alt-ext-cond", sans-serif;
  font-size: 1.5em;
}
/* line 171, ../sass/screen.scss */
.featured h3 a {
  color: #999999;
}
/* line 173, ../sass/screen.scss */
.featured h3 a:after {
  color: #fff;
  content: "→";
  margin-left: 0.2em;
}
/* line 179, ../sass/screen.scss */
.featured h3 a:hover {
  color: #333333;
}
/* line 181, ../sass/screen.scss */
.featured h3 a:hover:after {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #999999;
}
/* line 188, ../sass/screen.scss */
.featured h4 {
  color: #666666;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-transform: none;
}
/* line 195, ../sass/screen.scss */
.featured .icon {
  font-size: 3.6em;
  vertical-align: top;
}

/* line 203, ../sass/screen.scss */
a {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  text-decoration: none;
}

/* line 211, ../sass/screen.scss */
.icon {
  font-weight: normal;
}
/* line 213, ../sass/screen.scss */
.icon:before {
  content: attr(data-icon);
  font-family: "entypo";
  font-size: 2em;
  speak: none;
}
/* line 219, ../sass/screen.scss */
.icon.writing {
  color: #cc5c5c;
}
/* line 222, ../sass/screen.scss */
.icon.speaking {
  color: #41c3c3;
}
/* line 225, ../sass/screen.scss */
.icon.projects {
  color: #cece64;
}

/* $LAYOUT ********************************************************************/
/* line 232, ../sass/screen.scss */
section, footer {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 236, ../sass/screen.scss */
header {
  position: fixed;
}

/* line 244, ../sass/screen.scss */
.featured {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.featured:after {
  content: "";
  display: table;
  clear: both;
}
/* line 247, ../sass/screen.scss */
.featured span {
  width: 10.25641%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}
/* line 250, ../sass/screen.scss */
.featured .featured-text {
  width: 87.17949%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* $MODULES *******************************************************************/
/* $MEDIA QUERIES *************************************************************/
