/* IMPORTS ********************************************************************************************/

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";
@import "susy";

/* INCLUDES ********************************************************************************************/

@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot");
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot");
@include sticky-footer(50px, ".page", ".page-footer", "footer");

/* GRID ********************************************************************************************/

$total-columns: 9;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/* BREAKPOINTS ********************************************************************************************/

$less-than-tablet: 0px 9 767px;

/* COLORS ********************************************************************************************/

$primary: #d16565;
$secondary: #46aba8;
$lightmono: #c3c6d5;
$medmono: #9c9eab;
$darkmono: #636570;
$darkestmono: #424242;
$background: #f6f6f6;
$border: #e5e5e7;
$blockquote: #fefefe;

/* LAYOUT ********************************************************************************************/

html, body { height: 100%; }

body {
  background-color: $background;
  color: $darkestmono;
  font-family: "republic-web", serif;
  line-height: 200%;
}

.footer-wrapper {
  background-color: $darkestmono;
  width: 100%;
}

nav {
  @include container;
  margin: 4em auto;
  text-align: center;
  h1 {
    @include border-radius(1px);
    border: 3px solid $darkestmono;
    color: $darkestmono;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.5em auto;
    padding: 0.5em;
    text-transform: uppercase;
    width: 6em;
    &:hover {
      @include transition-property(all);
      @include transition-duration(0.5s);
      border: 3px solid $primary;
      color: $darkestmono;
    }
  }
  p:nth-child(3) {
    color: $darkestmono;
    font-family: "proxima-nova", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 120%;
    margin: 0.5em auto;
    padding: 0.75em;
    width: 40%;
    a {
      color: $darkestmono;
      vertical-align: text-bottom;
      &:hover {
        color: $primary;
      }
    }
  }
  .icon {
    font-size: 1.4em;
  }
}

.page { 
  @include container;
  padding-bottom: 1em;
  section {
    clear: both;
    margin-bottom: 2em;
    margin-top: 5em;
    text-align: center;
    .page-links {
      @include clearfix;
    }
    .item {
      text-align: center;
      &.article {
        @include span-columns(2 alpha,8);
      }
      &.talk {
        @include span-columns(2,8);
      }
      &.project {
        @include span-columns(2,8);
      }
      &.about {
        @include span-columns(2 omega,8);
      }
      .item-title {
        display: table;
        margin: 0 auto;
        a {
          border-bottom: none;
          display: table-cell;
          font-size: 1.2em;
          height: 6em;
          padding: 0 1.5em;
          vertical-align: middle;
          h4 {
            @include transition-duration(0.5s);
            @include transition-property(all);
            color: $secondary;
            font-size: 1.5em;
            &:hover {
              color: $darkestmono;
            }
          }
        }
      }
    }
  }
  article {
    margin-bottom: 3em;
    margin-top: 2em;
    text-align: left;
    p:first-child {
      font-size: 1.2em;
      line-height: 160%;
    }
    p.caption {
      color: $medmono;
      font-family: "proxima-nova", sans-serif;
      font-size: 0.8em;
      line-height: 120%;
      margin-bottom: 2em;
      margin-top: 0.5em;
      text-transform: uppercase;
    }
    ul {
      li.row {
        margin-bottom: 0;
        padding: 1em 0;
        h4 {
          font-size: 0.75em;
          line-height: 120%;
        }
        p {
          font-size: 0.8em;
          line-height: 140%;
          margin-top: 1em;
        }
        a.presentation {
          border-bottom: none;
          font-family: "proxima-nova", sans-serif;
          font-size: 0.9em;
          margin-right: 0.5em;
          span {
            vertical-align: text-top;
          }
        }
      }
    }
    a li.row {
      @include transition-duration(0.5s);
      @include transition-property(all);
      color: $darkestmono;
      &:hover {
        color: $primary;
        h2:after {
          color: $medmono;
          content: "→";
          margin-left: 0.2em;
        }
      }
      p {
        color: $darkmono;
      }
    }
  }
  aside {
    h4 {
      border-top: 2px solid $border;
      font-size: 1em;
      margin-bottom: 2em;
      padding-top: 0.4em;
    }
  }
}

footer {
  @include container;
  height: 50px;
  padding: 50px 0 35px 0;
  .social {
    @include span-columns(6 alpha,8);
    li {
      display: inline;   
      a {
        color: $darkmono;
        padding: 0; 
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .contact {
    @include span-columns(2 omega,8);
    color: $darkmono;
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    a {
      @include border-radius(1px);
      background-color: $darkmono;
      color: $medmono;
      font-family: "proxima-nova", sans-serif;
      padding: 0.75em 1em;
      vertical-align: top;
      &:hover {
        background-color: $primary;
        color: $background;
      }
    }
  }
}

.home {
  @include container;
  margin: 6em auto;
  padding-bottom: 4%;
  text-align: center;
  h1 {
    @include border-radius(1px);
    border: 5px solid $darkestmono;
    color: $darkestmono;
    font-size: 2em;
    font-weight: 600;
    margin: 0.5em auto;
    padding: 0.5em;
    text-transform: uppercase;
    width: 6em;
    &:hover {
      @include transition-property(all);
      @include transition-duration(0.5s);
      border: 5px solid $primary;
      color: $darkestmono;
    }
  }
  p:nth-child(3) {
    color: $darkestmono;
    font-family: "proxima-nova", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 120%;
    margin: 0.5em auto;
    padding: 0.75em;
    width: 40%;
    a {
      color: $darkestmono;
      vertical-align: text-bottom;
      &:hover {
        color: $primary;
      }
    }
  }
  .item {
    margin: 3em 0;
    &.article {
      @include span-columns(3 alpha,9);
    }
    &.talk {
      @include span-columns(3,9);
    }
    &.project {
      @include span-columns(3 omega,9);
    }
    .icon {
      font-size: 1em;
    }
    .item-title {
      display: table;
      width: 100%;
      a {
        display: table-cell;
        vertical-align: middle;
        color: $darkestmono;
        height: 120px;
        margin: 0.75em 0;
        padding: 1em 2em;
        &:hover {
          color: $primary;
        }
      }
    }
    h2 {
      font-size: 1.8em;
    }
    h4 {
      border-bottom: 1px solid $border;
      color: $darkestmono;
      font-size: 1.1em;
      font-weight: bold;
      margin: 0 0.75em;
    }
    h5 {
      font-family: "republic-web", serif;
      font-size: 1em;
      font-weight: normal;
      margin-top: 0.5em;
      line-height: 120%;
      text-align: center;
      text-transform: none;
    }
    h6 {
      border-top: 1px solid $border;
      font-size: 0.9em;
      font-weight: bold;
      margin: 0.5em 0.75em 0 0.75em;
      a {
        color: $medmono;
        &:hover {
          color: $darkestmono;
        }
      }
    }
  }
  .social {
    margin: 1em 0 1em 0;
    li {
      display: inline;
      a {
        color: $darkestmono;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
  a.contact {
    @include border-radius(1px);
    background-color: $darkestmono;
    color: $background;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    margin: 2em 0;
    padding: 0.5em 1em;
    text-transform: uppercase;
    width: auto;
    &:hover {
      background-color: $primary;
    }
  }
  .icon {
    font-size: 1.8em;
  }
}

/* TYPOGRAPHY ********************************************************************************************/

// BODY TYPE

p { margin-bottom: 1em; }

.page-links p {font-family: "proxima-nova", sans-serif};

article { font-size: 120%; }

nav li { display: inline; }

// HEADINGS

h1, h3, h4, h5, h6 { font-family: "proxima-nova", sans-serif; }

h1 {
  display: block;
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%;
}

h2 {
  font-size: 1.2em;
  line-height: 100%;
}

h3 {
  color: $secondary;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 100%;
  text-transform: uppercase;
}

h4 {
  color: $medmono;
  font-size: 0.85em;
  font-weight: 600;
  margin-top: 0.2em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 8em;
  text-align: right;
  text-transform: uppercase;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.2em; }

ul.links {
  li {
    padding: 0;
    a {
      border-bottom: none;
      color: $darkestmono;
      span {
        color: $border;
        font-weight: normal;
      }
      &:hover {
        color: $primary;
        span {
          color: $medmono;
        }
      }
    }
  }
}

// MISC

strong { font-weight: 600; }

em { font-style: italic; }

small {
  font-size: 0.8em;
  font-style: italic;
}

hr {
  border-color: $border;
  border-style: solid;
  margin: 2em 0;
}

blockquote {
  @include border-radius(10px);
  background: $blockquote;
  font-style: italic;
  margin: 20px;
  padding: 20px;
}

article li span {
  font-size: 90%;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}

// ICONS

.icon {
  margin: 0.5em 0;
  font-weight: normal;
  &:before {
    font-family: 'entypo';
    font-size: 3em;
    content: attr(data-icon);
    speak: none;
  }
  &.list-link:before {
    font-size: 1.75em;
  }
}

.cc {
  border-bottom: none;
  color: $darkmono;
  float: right;
  padding: 1em;
  &:before {
    font-size: 4em;
  }
  &:hover {
    border-bottom: none;
    color: $primary;
  }
}

.social {
  .icon {
    font-size: 1.2em;
    padding: 0.8em;
    &.twitter:before, &.tumblr:before, &.github:before, &.dribbble:before, &.instagram:before, &.pinterest:before {
      font-family: 'entypo-social';
      content: attr(data-icon);
    }
    &.rss:before {
      font-family: 'entypo';
      content: attr(data-icon);
    }
  }
}

/* IMAGE STYLES ********************************************************************************************/

.block {
  border: 2px solid $border;
  display: block;
  margin: 2em auto;
  padding: 7px;
}
.inline {
  border: 2px solid $border;
  float: left;
  margin: 0 1em 0 0;
  padding: 7px;
}

/* ANCHORS ********************************************************************************************/

a {
  @include transition-duration(0.5s);
  @include transition-property(all);
  border-bottom: 1px solid $lightmono;
  color: $primary;
  padding-bottom: 0.1em;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $medmono;
    color: $darkestmono;
  }
}

h1 a {
  border-bottom: none;
  color: $darkestmono;
  &:hover {
    border-bottom: none;
    color: $primary;
  }
}

h4 a, footer a {
  border-bottom: none;
  color: #474747;
  &:hover {
    border-bottom: none;
    color: $primary;
  }
}

h3 a {
  border-bottom: none;
  color: $secondary;
  &:hover {
    border-bottom: none;
    color: $darkestmono;
  }
  &:after {
    color: $lightmono;
    content: "→";
    margin-left: 0.2em;
  }
  &:hover:after {
    color: $secondary;
  }
}

h5 a {
  border-bottom: none;
  color: $medmono;
  padding: 1em;
  &:hover {
    border-bottom: none;
    color: $darkestmono;
  }
}

/* MEDIA QUERIES ********************************************************************************************/

@include at-breakpoint($less-than-tablet) {
  body {
    font-size: 75%;
  }
  .home {
    .item {
      &.article {
        @include span-columns(9);
      }
      &.talk {
        @include span-columns(9);
      }
      &.project {
        @include span-columns(9);
      }
      h4, h6 {
        line-height: 120%;
        margin: 0;
      }
    }
  }
  .inline {
    width: 35%;
  }
  footer {
    padding: 50px 0 70px 0;
    .social, .contact {
      @include span-columns(9);
      text-align: center;
    }
    .contact {
      margin-top: 2em;
    }
  }
}