/* IMPORTS ********************************************************************************************/

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "susy";

/* INCLUDES ********************************************************************************************/

@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot");
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot");
@include sticky-footer(30px, ".page", ".page-footer", "footer");

/* GRID ********************************************************************************************/

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/* BREAKPOINTS ********************************************************************************************/

$break-01: 4 19em;              // < 320px
$break-02: 20em 6 30em;         // 320px-480px
$break-03: 30.1em 8 40em;       // 480px-640px
$break-04: 40.1em 10 63em;      // 768px-1024px

/* COLORS ********************************************************************************************/

$rust: #dd4a38;
$teal: #129baf;
$lightgrey: #c3c6d5;
$medgrey: #9c9eab;
$darkgrey: #636570;
$softblack: #313236;
$offwhite: #f6f6f6;
$border: #dddddd;

/* LAYOUT ********************************************************************************************/

html, body { height: 100%; }

body {
  background-color: #f4f4ec/*#f6f6f6*/;
  background-attachment: fixed;
  background-image: url("../images/robot.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: #414247;
  font-family: "proxima-nova", sans-serif;
  line-height: 170%;
}

.nav-wrapper, .footer-wrapper {
  width: 100%;
}

.footer-wrapper {
  background-color: $softblack;
}

nav {
  @include container($total-columns, $break-01, $break-02, $break-03, $break-04);
  //border-bottom: 2px solid $border;
  padding: 1.2em 0 0.6em 0;
  li {
    color: $lightgrey;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    a {
      padding: 1em;
    }
  }
  .title {
    @include span-columns(6 alpha,12);
    .name {
      margin-right: 0.5em;
      a {
        @include transition-duration(0.4s);
        @include transition-property(color);
        color: $softblack;
        &:hover {
          color: $rust;
        }
      }
    }
    .desc {
      font-weight: 400;
    }
  }
  .contents {
    @include span-columns(6 omega,12);
    text-align: right;
    li {
      margin-left: 0.6em;
      a {
        @include transition-duration(0.4s);
        @include transition-property(color);
        color: $medgrey;
        &:hover {
          color: $softblack;
        }
        &.current {
          @include transition-property(color);
          @include transition-duration(0.4s);
          border-bottom: 2px solid $darkgrey;
        }
        &.current:hover {
          border-bottom: 2px solid $darkgrey;
          color: $softblack;
        }
      }
    }
  }
}

.page { 
  @include container($total-columns, $break-01, $break-02, $break-03, $break-04);
  padding-bottom: 40px;
  padding-top: 100px;
  section {
    clear: both;
    padding-top: 180px;
  }
  article {
    @include span-columns(8 omega,12);
    font-size: 1.2em;
    margin-bottom: 4em;
    .block {
      border: 2px solid $border;
      display: block;
      margin: 2em auto;
      padding: 7px;
    }
    .inline {
      border: 2px solid $border;
      float: left;
      margin: 0 1em 1em 0;
      padding: 7px;
    }
    .talk {
      margin-bottom: 2em;
      padding-bottom: 1em;
      p {
        font-size: 0.8em;
        line-height: 130%;
        margin: 0.5em 0;
      }
      ul {
        margin-top: 1.2em;
        li {
          border-bottom: 1px solid $border;
          padding-top: 5px;
          h4 {
            display: inline;
            text-transform: none;
            vertical-align: top;
          }
          a {
            border-bottom: none;
            h4.talk-item {
              color: $darkgrey;
            }
            &:hover{
              h4.talk-item {
                @include transition-property(color);
                @include transition-duration(0.4s);
                color: $rust;
                .icon {
                  @include transition-property(color);
                  @include transition-duration(0.4s);
                  color: $rust;
                }
              }
            }
          }
        }
      }
      span {
        font-weight: normal;
        margin-right: 0.4em;
      }
    }
    ul.links {
      li {
        a {
          border-bottom: none;
          color: $softblack;
          font-weight: bold;
          span {
            color: $lightgrey;
            font-weight: normal;
          }
          &:hover {
            color: $rust;
            span {
              color: $darkgrey;
            }
          }
        }
      }
    }
  }
  aside {
    @include span-columns(4 alpha,12);
    .summary {
      border-top: 2px solid $border;
      color: $darkgrey;
      font-size: 1em;
      font-weight: 300;
      line-height: 125%;
      margin-top: 0.5em;
      padding-top: 0.5em;
    }
  }
}

footer {
  @include container($total-columns, $break-01, $break-02, $break-03, $break-04);
  height: 30px;
  padding: 30px 0 43px 0;
  ul.social {
    @include span-columns(6 alpha,12);
    li {
      display: inline;      
      a {
        @include transition-duration(0.8s);
        @include transition-property(color);
        color: $darkgrey;
        padding: 0.1em;
        &:hover {
          color: $rust;
        }
      }
    }
  }
  .logo {
    @include span-columns(2 omega,12);
    color: $darkgrey;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0.5em;
    text-align: right;
    text-transform: uppercase;
    img {
      @include opacity(0.8);
      float: right;
      margin-left: 0.5em;
      margin-top: -0.4em;
    }
    a {
      @include transition-duration(0.8s);
      @include transition-property(color);
      color: $darkgrey;
      padding: 1em;
      &:hover {
        color: $offwhite;
        img {
          @include opacity(0.8);
        }
      }
      img {
        @include opacity(0.4);
        @include transition-duration(0.8s);
        @include transition-property(opacity);
      }
    }
  }
}

/* TYPOGRAPHY ********************************************************************************************/

// BODY TYPE

p { margin-bottom: 1em; }

article { font-size: 120%; }

nav li { display: inline; }

p.caption {
  color: $medgrey;
  font-size: 80%;
  font-weight: 600;
  line-height: 110%;
  margin-top: 0.5em;
  text-transform: uppercase;
}

// HEADINGS

h1 {
  display: block;
  font-size: 5em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 0.6em;
  width: 100%;
}

h2 {
  font-size: 1.4em;
  line-height: 100%;
  margin-top: 1.2em;
}

h3 {
  color: $teal;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.6em;
  margin-top: 2em;
  line-height: 100%;
  text-transform: uppercase;
  &.top { margin-top: 0; }
}

h4 {
  color: $medgrey;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.4em;
  text-transform: uppercase;
}

aside h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 10em;
  text-align: right;
  text-transform: uppercase;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.4em; }

// MISC

strong { font-weight: 600; }

em { font-style: italic; }

small {
  font-size: 0.8em;
  font-style: italic;
}

hr {
  border-color: $border;
  border-style: solid;
  margin: 2em 0;
}

blockquote {
  @include border-radius(3px);
  background: #fefefe;
  font-style: italic;
  margin: 20px;
  padding: 20px;
}

article li span {
  color: $darkgrey;
  font-size: 90%;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}

// ICONS

.icon {
  margin: 0.5em 0;
  font-weight: normal;
  &:before {
    font-family: 'entypo';
    font-size: 58px;
    content: attr(data-icon);
    speak: none;
  }
  &.list-link:before {
    font-size: 28px;
  }
}

.cc {
  border-bottom: none;
  color: $darkgrey;
  float: right;
  margin-top: 2em;
  padding: 1em;
  &:before {
    font-size: 72px;
  }
  &:hover {
    @include transition-duration(0.8s);
    @include transition-property(color);
    border-bottom: none;
    color: $rust;
  }
}

.social {
  .icon {
    font-size: 72px;
    margin-right: 0.25em;
    &.twitter:before, &.tumblr:before, &.github:before, &.dribbble:before, &.instagram:before, &.pinterest:before {
      font-family: 'entypo-social';
      content: attr(data-icon);
    }
    &.rss:before {
      font-family: 'entypo';
      content: attr(data-icon);
    }
  }
}

/* ANCHORS ********************************************************************************************/

a {
  border-bottom: 1px dashed #aaa;
  color: $rust;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $lightgrey;
    color: $softblack;
  }
}

h1 a {
  @include transition-duration(0.4s);
  @include transition-property(color);
  border-bottom: none;
  color: $rust;
  &:hover {
    border-bottom: none;
    color: $softblack;
  }
}

h2 a, h4 a, nav a, footer a {
  @include transition-duration(0.4s);
  @include transition-property(color);
  border-bottom: none;
  color: #474747;
  &:hover {
    border-bottom: none;
    color: $rust;
  }
}

h3 a {
  @include transition-duration(0.4s);
  @include transition-property(color);
  border-bottom: none;
  color: $teal;
  &:hover {
    border-bottom: none;
    color: $softblack;
  }
  &:after {
    color: $lightgrey;
    content: "→";
    margin-left: 0.2em;
  }
  &:hover:after {
    color: $teal;
  }
}

h5 a {
  @include transition-duration(0.4s);
  @include transition-property(color);
  border-bottom: none;
  color: $medgrey;
  padding: 1em;
  &:hover {
    border-bottom: none;
    color: $softblack;
  }
}

/* MEDIA QUERIES ********************************************************************************************/

@include at-breakpoint($break-01) {
  nav {
    font-size: 0.6em;
    line-height: 130%;
    padding: 2em 0;
    .title {
      margin-bottom: 1em;
      .name {
        display: block;
      }
      @include span-columns(4,4);
      display: block;
    }
    .contents {
      @include span-columns(4,4);
      display: block;
      text-align: left;
      li {
        margin-left: 0;
        margin-right: 0.6em;
      }
    }
  }
  .page { 
    padding-bottom: 0px;
    padding-top: 0px;
    section { padding-top: 1.5em; }
    article {
      @include span-columns(4,4);
      margin-bottom: 3em;
      .block {
        margin: 1em auto;
        width: 90%;
      }
      .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%;
      }
      .license {
        margin-top: 1em;
        text-align: right;
      }
    }
    aside { @include span-columns(4,4);
      h4 {
        font-size: 0.8em;
        margin-bottom: 1em;
      }
    }
    h1 { font-size: 1.4em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1em; }
    h3.top { margin-top: 1em; }
    h5 { font-size: 0.8em; }
    p {
      font-size: 0.7em;
      line-height: 125%;
    }
    ul.links {
      li {
        font-size: 0.7em;
        line-height: 125%;
      }
    }
  }
  footer {
    padding-bottom: 70px;
    ul.social {
      @include span-columns(4,4);
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center;
      li { font-size: 42px; }
    }
    .logo {
      @include span-columns(4,4);
      display: block;
      font-size: 1em;
      text-align: right;
      img {
        float: right;
        margin-right: 0.6em;
      }
    }
  }
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em;
  }
}

@include at-breakpoint($break-02) {
  nav {
    font-size: 0.9em;
    line-height: 130%;
    padding: 2em 0 2em 1em;
    .title {
      @include span-columns(6,6);
      display: block;
      margin-bottom: 0.2em;
    }
    .contents {
      @include span-columns(6,6);
      display: block;
      text-align: left;
      li {
        margin-left: 0;
        margin-right: 0.6em;
      }
    }
  }
  .page {
    padding-bottom: 0px;
    padding-top: 0px;
    section { padding-top: 1.5em; }
    article {
      @include span-columns(6,6);
      margin-bottom: 3em;
      .license {
        margin-top: 1em;
        text-align: right;
      }
      .block {
        margin: 1em auto;
        width: 90%;
      }
      .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%;
      }
    }
    aside { @include span-columns(6,6);
      h4 {
        font-size: 1.2em;
        margin-bottom: 1em;
      }
    }
    h1 { font-size: 2.2em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1.5em; }
    h3.top { margin-top: 1em; }
    h5 { font-size: 1.2em; }
    p {
      font-size: 0.9em;
      line-height: 130%;
    }
    ul.links {
      li {
        font-size: 0.9em;
        line-height: 130%;
      }
    }
  }
  footer {
    padding-bottom: 70px;
    ul.social {
      @include span-columns(6,6);
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center;
      li { font-size: 52px; }
    }
    .logo {
      @include span-columns(6,6);
      display: block;
      font-size: 1em;
      text-align: right;
      img {
        float: right;
        margin-right: 0.5em;
      }
    }
  }
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em;
  }
}

@include at-breakpoint($break-03) {
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em;
    .title {
      @include span-columns(8,8);
      display: block;
      margin-bottom: 0.2em;
    }
    .contents {
      @include span-columns(8,8);
      display: block;
      text-align: left;
      li {
        margin-left: 0;
        margin-right: 0.6em;
      }
    }
  }
  .page {
    padding-bottom: 0px;
    padding-top: 20px;
    section { padding-top: 1.5em; }
    article {
      @include span-columns(8,8);
      margin-bottom: 3em;
      .block {
        margin: 1em auto;
        width: 90%;
      }
      .inline {
        margin: 0 0.5em 0.2em 0;
        width: 25%;
      }
      .license {
        margin-top: 1em;
        text-align: right;
      }
    }
    aside { @include span-columns(8,8);
      h4 {
        font-size: 1.4em;
        margin-bottom: 1em;
      }
    }
    h1 { font-size: 2.6em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1.6em; }
    h3.top { margin-top: 1em; }
    h5 { font-size: 1.2em; }
    p {
      font-size: 0.9em;
      line-height: 130%;
    }
    ul.links {
      li {
        font-size: 0.9em;
        line-height: 130%;
      }
    }
  }
  footer {
    padding-bottom: 70px;
    ul.social {
      @include span-columns(8,8);
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0;
      li { font-size: 52px; }
    }
    .logo {
      @include span-columns(8,8);
      display: block;
      font-size: 1em;
      text-align: right;
      img {
        float: right;
        margin-right: 0.5em;
      }
    }
  }
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em;
  }
}

@include at-breakpoint($break-04) {
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em;
    .title {
      @include span-columns(8,8);
      display: block;
      margin-bottom: 0.2em;
    }
    .contents {
      @include span-columns(10,10);
      display: block;
      text-align: left;
      li {
        margin-left: 0;
        margin-right: 0.6em;
      }
    }
  }
  .page { 
    padding-bottom: 0px;
    padding-top: 20px;
    section { padding-top: 1.5em; }
    article {
      @include span-columns(10,10);
      margin-bottom: 3em;
      .block {
        margin: 1em auto;
        width: 90%;
      }
      .inline {
        margin: 0 0.5em 0.2em 0;
        width: 20%;
      }
      .license {
        margin-top: 1em;
        text-align: right;
      }
    }
    aside { @include span-columns(10,10);
      h4 {
        font-size: 1.4em;
        margin-bottom: 1em;
      }
    }
    h1 { font-size: 2.8em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1.7em; }
    h3.top { margin-top: 1em; }
    h5 { font-size: 1.3em; }
  }
  footer {
    padding-bottom: 70px;
    ul.social {
      @include span-columns(10,10);
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0;
      li { font-size: 62px; }
    }
    .logo {
      @include span-columns(10,10);
      display: block;
      font-size: 1em;
      text-align: right;
      img {
        float: right;
        margin-right: 0.5em;
      }
    }
  }
  blockquote {
    font-size: 0.8em;
    line-height: 140%;
    margin: 1em;
    padding: 1em;
  }
}