---
title: Writing
layout: page
---

<h3>Fiction</h3>

<ul class="index-list">
{% for post in site.posts %}
  {% if post.writing_type contains "fiction" or post.writing_type contains "flash fiction" or post.writing_type contains "microfiction" %}
  <li>
    <a href="{{ post.external_url }}">{{ post.title }} →</a>
      <span><strong>{{ post.external_site }}</strong> • {{ post.writing_type }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>

<h3>Non-Fiction</h3>

<ul class="index-list">
{% for post in site.posts %}
  {% if post.writing_type contains "essay" %}
  <li>
    <a href="{{ post.external_url }}">{{ post.title }} →</a>
      <span><strong>{{ post.external_site }}</strong> • {{ post.writing_type }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>

<!-- <h3>Newsletters</h3>

<p><em>From 2014 to 2017, I wrote a brief essay every week in my email newsletter, Modern Adventuress. You can read all of those essays at the <a href="http://modernadventuress.com/archive/">Modern Adventuress archive</a>. As of the beginning of 2018, essays are available to <a href="https://jenmyers.substack.com">paid subscribers</a> of the newsletter.</em></p> -->
