---
layout: page
title: Writing
---

{% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% capture postcategory %}{{post.category}}{% endcapture %}
  {% if currentyear != year and postcategory contains 'articles' %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 class="year-heading">{{ currentyear }}</h2>
    <ul>
    {% capture year %}{{currentyear}}{% endcapture %}
  {% endif %}
  {% if postcategory contains 'articles' %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %} 
{% endfor %}

<h2>Notes in the Margins</h2>
<p><em>In each of my weekly email newsletters, I write a short essay about whatever's on my mind that week. I collect them here and at their own website, <a href="http://thereportmargins.com">the Report Margins</a>.</em></p>
<!-- <ul>
{% for post in site.posts %}
  {% capture postcategory %}{{post.category}}{% endcapture %}
  {% if postcategory contains 'notes' %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul> -->
