<article>

{% if page.title == "Home" %}

  <p class="intro">Hi, I'm <span class="highlight">Jen</span>. I'm a technologist and writer in Chicago.</p>

  <p>I keep regular thoughts on books, films and the world in my <a href="{{ site.baseurl }}/category/notes.html">Notes</a>.</p>

  <p>My <a href="{{ site.baseurl }}/writing/">Writing</a> has links to all of my published fiction and nonfiction.</p>

  <p>I keep track of the art I take in at my <a href="{{ site.baseurl }}/log/">Media Log</a>.</p>

  <p>I post <a href="{{ site.baseurl }}/category/photos.html">Photos</a> of lots of things (mostly Lake Michigan).</p>

  <p>My favorite websites to visit are at <a href="{{ site.baseurl }}/links/">Links</a>.</p>

  <p>I co-host a psychological horror film podcast called <a href="https://quietlittlehorrors.com">Quiet Little Horrors</a>.</p>

  <p>My <a href="https://newsletter.jenmyers.net">Newsletter</a> is a monthly email update on what's going on with my website, writing and projects.</p>

  <p>If you're into that sort of thing, you can learn more about me and this website over at the <a href="{{ site.baseurl }}/about/">About</a> page.</p>

  {% elsif page.title %}

    <h2>{{ page.title }}</h2>

    {{ content }}

  {% else %}

{% endif %}

</article>
