<article>

  {% if page.title == "Home" %}

    <div class="intro">

      <p>Hi, I'm <span class="highlight">Jen</span>. I'm a technologist and writer in Chicago.</p>

      <p>The most recent note I posted is:
        {% for post in site.categories.notes limit:1 %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </p>

      <p>My most recent published story is:
        {% for post in site.categories.external limit:1 %}
          <a href="{{ post.external_url }}">{{ post.title }}</a>
        {% endfor %}
      </p>

      <p>The most recent story I posted on my website:
        {% for post in site.categories.writing limit:1 %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </p>

      <p>There's a new episode of my <a href="https://quietlittlehorrors.com/">Quiet Little Horrors</a> podcast every two weeks.</p>

      <p>And there's a new edition of my <a href="https://newsletter.jenmyers.net/">newsletter</a> every month.</p>

      <p>The most recent photo I took is:
        {% for post in site.categories.photos limit:1 %}
          <a alt="{{ post.image-alt }}" class="intro-photo" href="{{ post.url }}"><img alt="{{ post.image-alt }}" class="{{ post.image-class }}" src="images/{{ post.image }}" /></a>
        {% endfor %}
      </p>

      <p>That is all. (Other than, you know, the rest of the website, which you can peruse in whatever way you see fit.)</p>

    </div>

    {% elsif page.title %}

      <h2>{{ page.title }}</h2>

      {{ content }}

    {% else %}

  {% endif %}

</article>
