<aside>

  <h3>Recent Notes</h3>

  <ul>
  {% for post in site.categories.notes limit: 3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>

  <p class="forward"><a href="{{ site.baseurl }}/category/notes.html">Read all notes</a></p>

  <h3>Featured Writing</h3>

  <ul>
    {% for post in site.posts %}
      {% if post.writing_type contains "short fiction" or post.writing_type contains "flash fiction" %}
      <li>
        {% if post.external_url %}
          <a href="{{ post.external_url }}">{{ post.title }} →</a>
          <span><strong>{{ post.external_site }}</strong> • {{ post.date | date: "%e %b %Y" }}</span>
        {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span><strong>jenmyers.net</strong> • {{ post.date | date: "%e %b %Y" }}</span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="forward"><a href="{{ site.baseurl }}/writing/">Read all writing</a></p>

   <h3>Connect</h3>

   <ul>
     <li><a href="http://feeds.feedburner.com/jenmyers">RSS</a></li>
     <li><a href="https://twitter.com/antiheroine">Twitter</a></li>
     <li><a href="mailto:hello@jenmyers.net">Email</a></li>
   </ul>

</aside>
