  <div class="page-footer"></div>
  </div><!-- /page -->
  
  <div class="footer-wrapper">
    <footer>
      <ul class="social">
        <li><a href="http://twitter.com/antiheroine" title="Twitter" class="social-icon twitter"></a></li>
        <li><a href="http://jenmyers.tumblr.com" title="Tumblr" class="social-icon tumblr"></a></li>
        <li><a href="https://github.com/jenmyers" title="Github" class="social-icon github"></a></li>
        <li><a href="http://dribbble.com/jenmyers" title="Dribbble" class="social-icon dribbble"></a></li>
        <li><a href="http://pinterest.com/deliberatepixel/" title="Pinterest" class="social-icon pinterest"></a></li>
        <li><a href="http://feeds.feedburner.com/jenmyers" title="RSS" class="social-icon rss"></a></li>
      </ul>
      <div class="logo">
        <a href="mailto:hello@jenmyers.net">Contact <img alt="robothead" height="36" src="../images/alfred.png" title="Alfred " width="43" /></a>
      </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../javascripts/vendor/jquery-1.7.2.min.js"><\/script>')</script>

  <script src="../javascripts/jquery.fitvids.js"></script>
  <script src="../javascripts/lightbox.js"></script>
  <script src="../javascripts/plugins.js"></script>
  <script src="../javascripts/main.js"></script>

  <script>
    // fitvids.js
    $(document).ready(function(){
      $("article").fitVids();
    });
    // Google Analytics
    var _gaq=[['_setAccount','UA-32547444-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>