    <div class="footer-wrapper">
      <footer>
        <ul class="social">
          <li><a class="icon twitter" data-icon="&#62217;" href="http://twitter.com/antiheroine" title="Twitter"></a></li>
          <li><a class="icon tumblr" data-icon="&#62229;" href="http://jenmyers.tumblr.com" title="Tumblr"></a></li>
          <li><a class="icon github" data-icon="&#62208;" href="http://github.com/jenmyers" title="GitHub"></a></li>
          <li><a class="icon dribbble" data-icon="&#62235;" href="http://dribbble.com/jenmyers" title="Dribbble"></a></li>
          <li><a class="icon instagram" data-icon="&#62253;" href="http://instagram.com/antiheroine" title="Instagram"></a></li>
          <li><a class="icon pinterest" data-icon="&#62226;" href="http://pinterest.com/deliberatepixel/" title="Pinterest"></a></li>
          <li><a class="icon rss" data-icon="&#59194;" href="http://feeds.feedburner.com/jenmyers" title="RSS"></a></li>
        </ul>
        <div class="contact">
          <a href="mailto:hello@jenmyers.net">Talk to me?</a>
        </div>
      </footer>
    </div>

  </body>
</html>