  <div class="page-footer"></div>
  </div><!-- /page -->
  
  <div class="footer-wrapper">
    <footer>
      <ul class="social">
        <li><a href="http://twitter.com/antiheroine" title="Twitter">l</a></li>
        <li><a href="http://jenmyers.tumblr.com" title="Tumblr">o</a></li>
        <li><a href="https://github.com/jenmyers" title="Github">g</a></li>
        <li><a href="http://pinterest.com/deliberatepixel/" title="Pinterest">&</a></li>
        <li><a href="http://feeds.feedburner.com/jenmyers" title="RSS">r</a></li>
      </ul>
      <div class="logo">
        <a href="mailto:hello@jenmyers.net">Contact</a>
        <img alt="robothead" height="36" src="../images/alfred.png" title="Alfred " width="43" />
      </div>
    </footer>
  </div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script> -->

  <!-- scripts concatenated and minified via build script
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  -->

  <script>
    var _gaq=[['_setAccount','UA-32547444-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>