<header>

  <div class="header-title">

    <img src="{{ site.baseurl }}/images/jm-swallow.png" height="65px" width="65px" />

    <h1><a href="{{ site.baseurl }}/">Jen Myers</a></h1>

  </div>

  <ul class="header-nav">
    <li>/<a href="{{ site.baseurl }}/category/notes.html">Notes</a></li>
    <li>/<a href="{{ site.baseurl }}/writing/">Writing</a></li>
    <li>/<a href="{{ site.baseurl }}/markets/">Markets</a></li>
    <li>/<a href="{{ site.baseurl }}/log/">Media Log</a></li>
    <li>/<a href="{{ site.baseurl }}/category/photos.html">Photos</a></li>
    <li>/<a href="{{ site.baseurl }}/links/">Links</a></li>
    <li>/<a href="{{ site.baseurl }}/about/">About</a></li>
  </ul>

</header>
