<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jen Myers">
  <meta name="description" content="{{ page.description }}">

 <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/omn1lkj.css">

  <!-- Clean URLs -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" >

  <!-- Social media card tags -->

  <meta name="title" property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article" />
  <meta property="og:logo" content="{{ site.url }}/images/jm-swallow.png" />

  {% if page.description %}
    <meta name="description" property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" property="og:description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
    <meta name="image" property="og:image" content="{{ site.url }}/images/{{ page.image }}">
    <meta property="og:image:alt" content="{{ page.image-alt }}">
  {% else %}
    <meta name="image" property="og:image" content="{{ site.url }}/images/jm-swallow-card.png">
    <meta property="og:image:alt" content="Magenta and dark grey graphic of a swallow in traditional American tattoo style">
  {% endif %}

</head>
