<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Jen Myers | {{ page.title }}</title>
  <meta name="description" content="">
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for jenmyers.net" href="http://feeds.feedburner.com/jenmyers" /> 
  <link href="../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/lightbox.css" rel="stylesheet" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!-- <script src="js/vendor/modernizr-2.5.3.min.js"></script> -->
  <script type="text/javascript" src="http://use.typekit.com/omn1lkj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="nav-wrapper">
    <nav>
      <ul class="title">
        {% if page.title == 'Home' %}
          <li class="name"><a class="current" href="/">Jen Myers</a></li>
        {% else %}
          <li class="name"><a href="/">Jen Myers</a></li>
        {% endif %}
        <!--<li class="desc">Designer • Writer • Speaker • Teacher</li>-->
      </ul>
      <ul class="contents">
        {% if page.title == 'Writing' %}
          <li><a class="current" href="../writing/">Writing</a></li>
        {% else %}
          <li><a href="../writing/">Writing</a></li>
        {% endif %}
        
        <!-- {% if page.title == 'Work' %}
          <li><a class="current" href="../work/">Work</a></li>
        {% else %}
          <li><a href="../work/">Work</a></li>
        {% endif %} -->
      
        {% if page.title == 'Speaking' %}
          <li><a class="current" href="../speaking/">Speaking</a></li>
        {% else %}
          <li><a href="../speaking/">Speaking</a></li>
        {% endif %}
      
        {% if page.title == 'About' %}
          <li><a class="current" href="../about/">About</a></li>
        {% else %}
          <li><a href="../about/">About</a></li>
        {% endif %}
        
        <li><a href="http://jenmyers.tumblr.com">Tumblr</a></li>
      </ul>
    </nav>
  </div>
  <div class="page">
