<header class="site-header">

  <div class="container">

  <nav class="nav-title first-part">
    <ul>
      <li><a href="{{ site.baseurl }}/">Jen Myers</a></li>
    </ul>
  </nav>

    <nav class="nav-header second-part">
      <ul>
        <li><a href="{{ site.baseurl }}/writing/">Writing</a></li>
        <li><a href="{{ site.baseurl }}/speaking/">Speaking</a></li>
        <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}/mentoring/">Mentoring</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>

  </div>

</header>
