<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jen Myers">
  <meta name="description" content="{{ page.description }}">

 <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- Clean URLs -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" >

  <!-- Twitter cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@antiheroine">
  <meta name="twitter:title" content="{{ page.title }}">

  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    <meta name="twitter:image:alt" content="{{ page.image-alt }}" />
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/jm-swallow-card.jpg">
    <meta name="twitter:image:alt" content="Magenta and dark grey graphic of a swallow in traditional American tattoo style" />
  {% endif %}

</head>
