<nav>

  <div class="logo">
    <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/images/jm-swallow.png" height="65px" width="65px" alt="tattoo-style sparrow with grey underbelly and warm red wings" title="Jen Myers" /></a>
  </div>

  <ul>
    <li>Here/</li>
    <li><a href="{{ site.baseurl }}/category/notes.html">Notes</a></li>
    <li><a href="{{ site.baseurl }}/writing/">Writing</a></li>
    <!-- <li><a href="{{ site.baseurl }}/film/">Film</a></li> -->
    <li><a href="{{ site.baseurl }}/category/photos.html">Photos</a></li>
    <li><a href="{{ site.baseurl }}/log/">Media Log</a></li>
    <li><a href="{{ site.baseurl }}/links/">Links</a></li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li>Elsewhere/</li>
  	<li><a href="https://newsletter.jenmyers.net">Newsletter</a></li>
  	<li><a href="https://quietlittlehorrors.com">Podcast</a></li>
    <li><a href="https://bsky.app/profile/antiheroine.bsky.social">Bluesky</a></li>
    <li>Connect/</li>
  	<li><a href="https://jenmyers.net/guestbook/">Guestbook</a></li>
  	<li><a href="http://feeds.feedburner.com/jenmyers">RSS</a></li>
  	<li><a href="mailto:hello@jenmyers.net">Email</a></li>
  </ul>

  <div class="counter">
    <img src="https://smallcounter.com/count.php?c_style=2&id=1742139244" border=0 alt="web counter">
  </div>

</nav>

