<div class="page-links">
  <div class="item article">
    <div class="item-title">
      <a href="../writing/">
        <span aria-hidden="true" class="icon" data-icon="&#10002;"></span>
        <p>Writing</p>
      </a>
    </div>
  </div>

  <div class="item talk">
    <div class="item-title">
      <a href="../speaking/">
        <span aria-hidden="true" class="icon" data-icon="&#59160;"></span>
        <p>Speaking</p>
      </a>
    </div>
  </div>

  <div class="item project">
    <div class="item-title">
      <a href="../projects/">
        <span aria-hidden="true" class="icon" data-icon="&#128188;"></span>
        <p>Projects</p>
      </a>
    </div>
  </div>

  <div class="item about">
    <div class="item-title">
      <a href="../about/">
        <span aria-hidden="true" class="icon" data-icon="&#128640;"></span>
        <p>About</p>
      </a>
    </div>
  </div>
</div>