<div class="page">
  <section>
    <img src="../images/rosie.png" />
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <aside>
      <h4>{{ post.date | date_to_long_string }}</h4>
      <!-- <p class="summary">{{ post.summary }}</p> -->
    </aside>
    <article>
      {{ post.content }}
      <a aria-hidden="true" class="icon cc" data-icon="&#128325;" href="http://creativecommons.org/licenses/by-sa/3.0/"></a>
      <h5><a href="../writing">All articles &#8594;</a></h5>
    </article>
  </section>