// GLOBAL

body {
  background-color: #fff;
  color: #333;
  font-family: "freight-text-pro", serif;
  font-size: 1.4em;
  line-height: 160%;
  margin: 0;
}

// LAYOUT

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5em;
  width: 60%;
  margin: 5em auto;
}

.logo {
  text-align: right;
}

hr {
  border: 1px solid #ccc;
  margin: 3em auto;
  width: 45%;
}

// TYPOGRAPHY

h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em 0 0 0;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
}

.category-title {
  border-bottom: 1px solid #ccc;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 1em;
  padding-top: 0.25em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: none;
}

h4.list-heading {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}

header h3 {
  font-size: 1em;
  &:first-of-type {
    margin-top: 0em;
  }
}

li span {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

.post-date {
  border-top: 1px solid #ccc;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  margin: 1em 0 2em 0;
  padding-top: 0.25em;
  text-transform: uppercase;
}

.intro {
  font-size: 1.6em;
  line-height: 120%;
  margin-top: 0;
  padding-top: 0;
}

.forward {
  color: #ccc;
  font-family: "brandon-grotesque", sans-serif;
  margin-top: 2em;
  text-align: right;
  text-transform: uppercase;
  & a {
    border-bottom: none;
    font-weight: 300;
  }
}

.key {
  font-size: 0.8em;
  margin-top: 2em;
}

.long-quote {
  font-style: italic;
  padding-left: 1em;
  border-left: 3px solid #eee;
}

.highlight {
  color: #e13e3e;
  font-weight: bold;
}

.story-date {
  border-top: 1px solid #e6e2dc;
  font-size: 0.9em;
  margin: 0;
  padding: 1em 0 0 0;
  text-transform: uppercase;
}

.counter {
  text-align: right;
}

article p:first-child, article h2:first-child {
  margin-top: 0;
}

nav ul li {
  color: #999;
}

// LISTS

nav ul {
  text-align: right;
}

nav li {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
}

header li, .footer-home li {
  margin: 0 0 0 0.2em;
  padding-right: 0;
}

.footer-nav li {
  margin: 0 0.4em 0 0;
  padding-left: 0;
}

ul.index-list {
  padding-left: 0;
  span {
    font-size: 0.8em;
  }
}

.photo {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.notes-nav {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.25em 0;
  li {
    color: #999;
    display: inline-block;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 0.8em;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    text-transform: uppercase;
    a {
      border-bottom: none;
      font-weight: 100;
    }
  }
}

// IMAGES

.site-icon {
  height: 80px;
  width: 80px;
}

article img, .story img {
  aspect-ratio: 3/2;
  width: 100%;
}

.page-image {
  aspect-ratio: auto;
}

.vert {
  aspect-ratio: 2/3;
}

.about-image {
  aspect-ratio: auto;
  border: 1px solid #ccc;
  float: right;
  margin: 0.5em 0em 0.5em 1em;
  padding: 5px;
  width: 40%;
}

// ANCHORS

a {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid #333;
    color: #e13e3e;
  }
}

h1, h2, h3, nav {
  a {
    border-bottom: none;
    color: #333;
    font-weight: bold;
    &:hover {
      border-bottom: none;
    }
  }
}

h1 a {
  border-bottom: none;
  font-weight: 300;
}

a.intro-photo {
  border-bottom: none;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    border-bottom: none;
  }
}

a.logo {
  border-bottom: none;
}

// LOG LISTS

ul.log {
  margin: 1em 0 2em 0;
  padding-left: 0;
  ul {
    margin-bottom: 1.25em;
    padding-left: 0;
  }
  li {
    font-size: 0.9em;
    list-style-type: none;
    padding-left: 0;
  }
  li.log-month {
    color: #333;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
  }
  li.log-month:not(:first-child) {
    margin: 2em 0 0 0;
  }
  li.log-day {
    border-top: 1px solid #eee;
    font-weight: bold;
    margin: 1em 0 0 0;
  }
  li.log-item {
    margin: 0.25em 0;
  }
}

// MOBILE LAYOUT

@media only screen and (max-width: 768px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    margin-top: 2em;
    order: 1;
    ul {
      padding-left: 0;
      text-align: center;
    }
    .logo {
      text-align: center;
    }
  }
  article {
    order: 0;
    text-align: center;
  }
  p.forward {
    text-align: center;
  }
  h1 {
    display: block;
    margin: 0.5em auto;
  }
  article {
    ul {
      padding-left: 0.75em;
    }
    li {
      margin-left: 0;
    }
  }
}

// RESPONSIVE VIDEO EMBEDS

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// GUESTBOOK

hr.bn-gb-divider {
  width: 100%;
}
