// MAIN

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-text;
  margin: 0px;
  padding: 0px;
}


// LAYOUT

.container {
  @include outer-container;
}

.page {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 4em;
}

.intro, .primary, .secondary, .tertiary, .contact, .footer {
  text-align: center;
}

.intro {
  padding: 5em 0;
}

.primary, .secondary, .tertiary, .contact {
  padding: 0 0 6em 0;
}

.site-footer {
  background-color: darken($background-color, 10%);
  padding: 3em 0;
  text-align: center;
}

.page-header {
  border-top: $width-border-thick solid darken($background-color, 10%);
  margin-bottom: 2em;
  text-align: center;
}

.post-header {
  margin: 0 0 5em 0;
  position: relative;
  text-align: center;
}

.primary-wrapper {
  background-color: $primary-color;
}

.secondary-wrapper {
  background-color: darken($background-color, 10%);
}

.tertiary-wrapper {
  background-color: lighten($secondary-color, 10%);
}

.contact-wrapper {
  background-color: $text-color;
  color: $background-color;
}

.footer-wrapper {
  background-color: darken($background-color, 10%);
}

.icon-primary {
  color: $primary-color;
}

.icon-secondary {
  color: darken($background-color, 10%);
}

.icon-tertiary {
  color: lighten($secondary-color, 10%);
}

.icon-contact {
  color: lighten($text-color, 10%);
}

.icon-page {
  color: darken($background-color, 20%);
}

.icon-post {
  color: darken($background-color, 10%);
}

.circle-bottom {
  height: 5em;
  width: 10em;
  border-radius: 0 0 5em 5em;
  -moz-border-radius: 0 0 5em 5em;
  -webkit-border-radius: 0 0 5em 5em;
  margin: 0 auto;
  padding-top: 0.65em;
  text-align: center;
  &.icon-primary-bg {
    background-color: darken($primary-color, 10%);
  }
  &.icon-secondary-bg {
    background-color: darken($background-color, 16%);
  }
  &.icon-tertiary-bg {
    background-color: $secondary-color;
  }
  &.icon-contact-bg {
    background-color: darken($text-color, 10%);
  }
  &.icon-page-bg {
    background-color: darken($background-color, 10%);
  }
  &.icon-post-bg {
    background-color: $background-color;
  }
}

.circle-top {
  height: 5em;
  width: 10em;
  border-radius: 5em 5em 0 0;
  -moz-border-radius: 5em 5em 0 0;
  -webkit-border-radius: 5em 5em 0 0;
  margin: 0 auto;
  padding-top: 1.2em;
  background-color: darken($background-color, 10%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-page-header {
  background-size: cover;
  background-color: $primary-color;
  height: 420px;
  text-align: center;
  position: relative;
  &.ghoulardi {
    background-image: url("../images/articles/ghoulardi.png");
  }
}

.post-info {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

hr {
  border: $width-border-hairline solid darken($background-color, 5%);
  margin: 4em auto;
  width: 80%
}

.writing-col {
  @include span-columns(6);
  @media only screen and (max-width : 620px) {
    @include span-columns(12);
  }
}

.daily-content {
  @include span-columns(8);
  @include shift(2);
  padding: 4em 0 2em 0;
  img {
    width: 100%;
  }
}

.post-daily {
  border-bottom: $width-border-hairline solid darken($background-color, 3%);
  padding-bottom: 1em;
  margin-bottom: 6em;
}

.post-content img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

// TYPOGRAPHY

p, li, td {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 160%;
  margin: 1em 0;
    @media only screen and (max-width : 420px) {
    font-size: 1.1em;
  }
}

ol {
  list-style-type: decimal;
  margin: 3em 0;
  li {
    margin: 0 0 2em 2em;
    padding-left: 0.5em;
  }
}

address {
  @extend p;
  border-left: $width-border-hairline solid lighten($text-color, 52%);
  margin: 2em 0 2em 2em;
  padding-left: 1em;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

blockquote {
  font-family: $font-accent;
  font-size: 2em;
  font-style: italic;
  line-height: 125%;
  width: 10em;
  span {
    background-color: lighten($primary-color, 20%);
    box-decoration-break: clone;
    display: inline;
  }
  &.right {
    float: right;
    margin: 1em 1em 1em 1.4em;
  }
  &.left {
    float: left;
    margin: 1em 1.4em 1em 1em;
  }
  @media only screen and (max-width : 420px) {
    font-size: 1.4em;
  }
}

sup {
  font-size: 85%;
  font-weight: 600;
  line-height: 100%;
  vertical-align: super;
}

h1.site-title {
  font-family: $font-heading-secondary;
  font-size: 1.8em;
  letter-spacing: 0.15em;
  margin: 2.5em 0 0 0;
  text-transform: uppercase;
  a {
    border-bottom: none;
    box-shadow: none;
    color: darken($primary-color, 25%);
    font-weight: 500;
    &:hover {
      color: darken($primary-color, 45%);
    }
  }
  @media only screen and (max-width : 420px) {
    font-size: 1.4em;
  }
}

h1.post-title {
  font-family: $font-heading-primary;
  font-size: 4em;
  font-weight: bold;
  margin: 1em 0 0.25em 0;
  a {
    border-bottom: none;
    box-shadow: none;
    color: darken($primary-color, 40%);
    font-weight: 700;
    &:hover {
      color: darken($primary-color, 50%);
    }
  }
  @media only screen and (max-width : 420px) {
    font-size: 2.4em;
  }
}

h2.site-description, {
  border-bottom: 2px solid darken($background-color, 10%);
  border-top: 2px solid darken($background-color, 10%);
  color: lighten($text-color, 20%);
  display: inline-block;
  font-size: 1.4em;
  font-style: italic;
  margin: 1em 0;
  padding: 0.5em 0;
  text-align: center;
  width: 20%;
  @media only screen and (max-width : 420px) {
    font-size: 1.2em;
    width: 40%;
  }
}

h2.section-heading {
  font-family: $font-heading-secondary;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  margin: 4em 0 0.5em 0;
  text-transform: uppercase;
  &:first-of-type {
    margin: 2em 0 0.5em 0;
  }
  &.writing {
    border-bottom: $width-border-hairline solid darken($background-color, 5%);
    padding-bottom: 0.5em;
  }
}

h2.page-title {
  font-family: $font-heading-primary;
  font-size: 3.5em;
  font-weight: bold;
  margin: 0.5em 0 1em 0;
}

h2.post-title {
  font-family: $font-heading-primary;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 140%;
}

h2.post-daily-title {
  @extend h2, .post-title;
  font-size: 2em;
  text-align: center;
}

h2.post-meta {
  color: darken($grayscale-light, 25%);
  font-family: $font-heading-secondary;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @media only screen and (max-width : 420px) {
    font-size: 1em;
    line-height: 160%;
  }
  &.post-category {
    margin-bottom: 1.5em;
  }
}

p.post-date {
  font-family: $font-heading-secondary;
  font-size: 1.2em;
  margin-top: 0.5em;
  text-transform: uppercase;
}

p.post-daily-date {
  @extend p, .post-date;
  border-bottom: $width-border-hairline solid darken($background-color, 3%);
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  text-align: center;
}

p.post-description, p.category-description {
  font-family: $font-accent;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 0em;
}

p.post-summary, p.post-conclusion {
  @extend .post-description;
  margin: 1em auto;
  padding: 0.5em;
  width: 80%;
  @media only screen and (max-width : 420px) {
    font-size: 1em;
  }
}

p.more {
  text-align: right;
}

h3.section-title {
  font-family: $font-heading-primary;
  font-size: 2.4em;
  margin: 1em 0;
  a {
    border-bottom: none;
    box-shadow: none;
    color: darken($primary-color, 35%);
    font-weight: 700;
    &:hover {
      color: darken($primary-color, 45%);
    }
  }
  @media only screen and (max-width : 420px) {
    font-size: 1.8em;
  }
}

h4.content-heading {
  color: darken($background-color, 50%);
  font-family: $font-heading-secondary;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  margin: 3em 0 2em 0;
  text-transform: uppercase;
}

p.section-summary {
  color: lighten($text-color, 15%);
  font-family: $font-accent;
  font-size: 1.3em;
  font-style: italic;
  margin: 1em auto 2em auto;
  line-height: 140%;
  width: 50%;
  @media only screen and (max-width : 420px) {
    font-size: 1em;
  }
}

ul.site-navigation {
  margin: 0 0 2em 0;
  li {
    display: inline-block;
    font-family: $font-heading-secondary;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0 0.5em;
    text-transform: uppercase;
    @media only screen and (max-width : 420px) {
      font-size: 1em;
    }
  }
  a {
    border-bottom: none;
    box-shadow: none;
    color: darken($primary-color, 25%);
    font-weight: 500;
    &:hover {
      color: darken($primary-color, 35%);
    }
  }
}

.site-footer ul.site-navigation li {
  font-size: 1.2em;
}

ul.contact-links {
  margin: 1em 0 2em 0;
  li {
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 1em;
  }
  a {
    border-bottom: none;
    box-shadow: none;
    color: darken($primary-color, 25%);
    &:hover {
      color: lighten($primary-color, 10%);
    }
  }
}

.post-content ul {
  list-style-type: disc;
  li {
    margin: 1em 0 1em 2em;
    // &:last-child {
    //   margin: 1em 0 0 1.2em;
    // }
  }
}

// .post-content ul:first-of-type {
//   list-style-type: none;
// }

// SPEAKING - TALK MATERIALS

div.talk-materials {
  display: table;
  div.talk {
    display: table-row;
    padding: 2em 0;
    div.talk-img {
      border-bottom: $width-border-hairline solid darken($background-color, 3%);
      display: table-cell;
      padding: 2em 0;
      img {
        border: $width-border-thick solid lighten($background-color, 3%);
      }
    }
    div.talk-details {
      border-bottom: $width-border-hairline solid darken($background-color, 3%);
      display: table-cell;
      padding: 2em 0 2em 2em;
      vertical-align: top;
    }
  }
}

h3.talk-title {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.5em 0 1em 0;
}

p.talk-summary {
  font-family: $font-accent;
  font-size: 1.2em;
  font-style: italic;
}

ul.talk-links {
  li {
    border-bottom: none;
    display: block;
    font-family: $font-text-data;
    font-size: 1em;
    margin: 0em 1em 0.5em 0;
    padding: 0;
    width: 100%;
  }
}

// ANCHORS 

a {
  @include transition-link;
  border-bottom-color: lighten($primary-color, 16%);
  border-bottom-style: solid;
  border-bottom-width: $width-border-hairline;
  box-shadow: inset 0 -4px 0 lighten($primary-color, 16%);
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

.page-content p a:hover,
.page-content li a:hover,
.post-content p a:hover,
.post-content li a:hover,
h2.post-title a:hover {
  background-color: lighten($primary-color, 16%);
}

// BUTTONS

.button-hairline {
  @include transition-button-hairline;
  border-bottom: none;
  border-color: darken($primary-color, 15%);
  border-style: solid;
  border-width: $width-border-hairline;
  border-radius: 3px;
  box-shadow: none;
  color: darken($primary-color, 25%);
  display: inline-block;
  font-family: $font-heading-secondary;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.6em 1em 0.5em 1em;
  text-transform: uppercase;
  &:hover {
    @include transition-button-hairline;
    border-bottom: none;
    border-color: darken($primary-color, 35%);
    border-style: solid;
    border-width: $width-border-hairline;
    color: darken($primary-color, 35%);
  }
  &.button-article {
    border-color: darken($primary-color, 25%);
    color: darken($primary-color, 25%);
    &:hover {
      border-color: darken($primary-color, 35%);
      color: darken($primary-color, 35%);
    }
  }
  &.button-newsletter {
    border-color: darken($primary-color, 30%);
    color: darken($primary-color, 30%);
    &:hover {
      border-color: darken($primary-color, 45%);
      color: darken($primary-color, 45%);
    }
  }
  &.button-contact {
    &:hover {
      border-color: darken($primary-color, 30%);
      color: darken($primary-color, 30%);
    }
  }
  &.button-contact-home {
    &:hover {
      border-color: lighten($primary-color, 10%);
      color: lighten($primary-color, 10%);
    }
  }
}

.button-center {
  display: block;
  margin: 2em auto;
  text-align: center;
  width: 30%;
}

// IMAGES

.primary-img {
  @media only screen and (max-width : 620px) {
    width: 60%;
  }
}

.about-img {
  display: inline-block;
  float: right;
  margin: 0 0 1em 2em;
   @media only screen and (max-width : 620px) {
    display: block;
    float: none;
    margin: 0 auto 2em auto;
    width: 60%;
  }
}

.input-img {
  border: $width-border-hairline solid darken($background-color, 2%);
  margin-bottom: 1em;
  padding: 0.5em;
  width: 40%
}

// PLAYLIST TOGGLE

.toggle-bg {
  background-color: darken($background-color, 10%);
  border-radius: 1.6em;
  height: 3.2em;
  width: 3.2em;
  position: absolute;
  right: 0;
}

.toggle-playlist {
  color: darken($background-color, 35%);
  padding: 19%;
  width: 3em;
  height: 3em;
  &:hover {
    @include transition-link;
    color: darken($background-color, 45%);
  }
}

.playlist {
  text-align: center;
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow:
  hidden; max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// TABLE

table {
  font-family: $font-text-data;
  font-size: 0.9em;
  margin: 4em 0;
  a {
    border-bottom: none;
    box-shadow: none;
    font-weight: 400;
  }
}

thead {
  text-transform: uppercase;
}

tr {
  border-bottom: $width-border-hairline solid darken($background-color, 3%);
}

td {
  padding: 0.5em 2em 0.5em 0.5em;
  &.event-title {
    width: 46%;
  }
}

.upcoming {
  background-color: lighten($background-color, 3%);
}

// LOG LISTS

ul.log {
  margin-bottom: 6em;
  li.log-month {
    color: darken($background-color, 50%);
    text-transform: uppercase;
    font-family: $font-heading-secondary;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin: 3em 0 0 0;
  }
  li.log-day {
    border-top: $width-border-hairline solid darken($background-color, 3%);
    font-weight: bold;
  }
  li.log-item {
    margin: 0.25em 0;
  }
}

// ICONS

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-header {
  width: 3em;
  height: 3em;
}

.icon-footer, .icon-footer-home {
  width: 2em;
  height: 2em;
}

// MENTORING

.calendly-inline-widget {
  margin-top: 80px;
}
