// GLOBAL

body {
  background-color: #ffffff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  line-height: 160%;
  margin: 0;
}

// LAYOUT

.container {
  justify-content: center;
  margin: 2em auto;
  width: 85%;
}

article {

}

aside {
  margin-bottom: 2em;
  li {
    display: inline-block;
  }
}

// DESKTOP LAYOUT

@media only screen and (min-width: 1025px){
  .container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "aside article article";
    justify-content: center;
    margin: 4em auto;
    text-align: left;
    width: 75%;
  }
  article {
    grid-area: article;
  }
  aside {
    grid-area: aside;
    margin-bottom: 0;
    li {
      display: block;
    }
  }
  h2 {
    margin: 0;
  }
}

// TYPOGRAPHY

h1 {
  font-size: 1.6em;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  margin: 2em 0 1em 0;
  padding-bottom: 0.25em;
}

h4 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: none;
}

h4.list-heading {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}

aside h3 {
  font-size: 1em;
  &:first-of-type {
    margin-top: 0em;
  }
}

li span {
  display: inline-block;
  vertical-align: middle;
}

footer {
  border-top: 2px solid #e6e2dc;
  color: darken(#e6e2dc, 15%);
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-date {
  border-top: 1px solid #e6e2dc;
  font-size: 0.9em;
  margin: 1em 0 2em 0;
  padding-top: 0.25em;
  text-transform: uppercase;
}

.intro {
  font-size: 1.4em;
  margin-top: 0;
  padding-top: 0;
}

.forward {
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding-top: 0.5em;
  & a {
    border-bottom: none;
  }
}

.key {
  font-size: 0.8em;
  margin-top: 2em;
  padding: 2em 0;
}

.long-quote {
  font-style: italic;
  padding-left: 1em;
  border-left: 3px solid #eee;
}

.highlight {
  color: #c90076;
  font-weight: bold;
}

// LISTS

li {
  line-height: 160%;
  margin: 0.8em;
}

aside ul {
  padding-left: 0;
  margin: 1em 0 0 0;
}

aside li {
  list-style-type: none;
  font-size: 0.9em;
  margin: 0 0 0.4em 0;
  padding-left: 0;
}

header li:not(:first-of-type) {
  margin-left: 1em;
}

ul.index-list {
  margin-top: 2em;
  padding-left: 0;
  span {
    font-size: 0.8em;
  }
}

.photo {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.notes-nav {
  padding-left: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
  }
}

// IMAGES

.icon {
  height: 80px;
  width: 80px;
}

article img {
  aspect-ratio: 3/2;
  width: 100%;
}

.page-image {
  aspect-ratio: auto;
}

.vert {
  aspect-ratio: 2/3;
}

// ANCHORS

a {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid #333;
    color: #c90076;
  }
}

h1, h2, h3 {
  a {
    border-bottom: none;
    color: #333;
  }
}

aside a {
  border-bottom: none;
}

// LOG LISTS

ul.log {
  margin: 1em 0 2em 0;
  padding-left: 0;
  ul {
    margin-bottom: 1.25em;
    padding-left: 0;
  }
  li {
    font-size: 0.9em;
    list-style-type: none;
    padding-left: 0;
  }
  li.log-month {
    color: #333;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
  }
  li.log-month:not(:first-child) {
    margin: 2em 0 0 0;
  }
  li.log-day {
    border-top: 1px solid #eee;
    font-weight: bold;
    margin: 1em 0 0 0;
  }
  li.log-item {
    margin: 0.25em 0;
  }
}

// RESPONSIVE VIDEO

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// TWITTER EMBED

// .tweet {
//   border-bottom: 1px solid #eee;
//   border-top: 1px solid #eee;
//   font-size: 0.9em;
//   font-weight: bold;
//   margin: 1em;
//   padding: 1em 2em 2em 2em;
//   p {
//     font-style: italic;
//   }
// }
