@charset "UTF-8";
/* $TITLE **********************************************************************

  Style rules for Jenmyers.net
  Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/
/* $CONTENTS *******************************************************************

  * Imports
  * Mixins
  * Fonts
  * Variables
  * Grid
  * Breakpoints
  * Base
  * Layout
  * Media Queries

*******************************************************************************/
/* $IMPORTS *******************************************************************/
/* line 17, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $MIXINS ********************************************************************/
/* $FONTS *********************************************************************/
@font-face {
  font-family: "entypo";
  src: url('/assets/fonts/entypo.eot');
  src: url('/assets/fonts/entypo.eot?#iefix') format('eot'), url('/assets/fonts/entypo.woff') format('woff'), url('/assets/fonts/entypo.ttf') format('truetype'), url('/assets/fonts/entypo.svg') format('svg');
}

@font-face {
  font-family: "entypo-social";
  src: url('/assets/fonts/entypo-social.eot');
  src: url('/assets/fonts/entypo-social.eot?#iefix') format('eot'), url('/assets/fonts/entypo-social.ttf') format('truetype'), url('/assets/fonts/entypo-social.woff') format('woff'), url('/assets/fonts/entypo-social.svg') format('svg');
}

/* $VARIABLES *****************************************************************/
/* $GRID **********************************************************************/
/* $BREAKPOINTS ***************************************************************/
/* $BASE **********************************************************************/
/* line 60, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 64, ../sass/screen.scss */
body {
  background-color: white;
  color: #444444;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  margin: 0;
}

/* line 74, ../sass/screen.scss */
h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 1em 0;
}

/* line 80, ../sass/screen.scss */
h2 {
  font-size: 1.8em;
  line-height: 120%;
}

/* line 85, ../sass/screen.scss */
h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 2em 0;
  text-transform: uppercase;
}

/* line 92, ../sass/screen.scss */
h4 {
  border-top: 2px solid #eee;
  color: #999;
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 1em;
  padding-top: 0.5em;
  text-transform: uppercase;
}

/* line 102, ../sass/screen.scss */
aside h4 {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

/* line 108, ../sass/screen.scss */
p {
  font-size: 1.2em;
  line-height: 160%;
  margin: 1em 0;
}

/* line 114, ../sass/screen.scss */
article p:first-child {
  font-size: 1.6em;
  line-height: 140%;
  margin: 0 0 1em 0;
}

/* line 120, ../sass/screen.scss */
ol li {
  font-size: 1.4em;
  line-height: 150%;
  list-style-type: decimal;
  margin: 1em 0 1em 2em;
  overflow: visible;
}

/* line 128, ../sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 132, ../sass/screen.scss */
header {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  text-transform: uppercase;
}
/* line 138, ../sass/screen.scss */
header h1 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

/* line 145, ../sass/screen.scss */
.site-title {
  font-size: 1em;
}

/* line 150, ../sass/screen.scss */
.social li {
  display: inline;
}

/* line 155, ../sass/screen.scss */
.contact {
  color: #999;
  font-size: 1em;
  margin-top: 1.5em;
  text-align: right;
  text-transform: uppercase;
}

/* line 163, ../sass/screen.scss */
p.home {
  color: #999;
  font-family: "proxima-nova", sans-serif;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 140%;
  margin: 1.5em 0 1em 0;
}

/* line 172, ../sass/screen.scss */
.writing {
  color: #19b3b3;
}

/* line 176, ../sass/screen.scss */
.speaking {
  color: #ca3f3f;
}

/* line 180, ../sass/screen.scss */
.projects {
  color: #ccc61e;
}

/* line 184, ../sass/screen.scss */
.about {
  color: #c91d73;
}

/* line 190, ../sass/screen.scss */
a {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  border-bottom: 2px solid #ddd;
  color: #000;
  text-decoration: none;
}
/* line 196, ../sass/screen.scss */
a:hover {
  border-bottom: 2px solid #999;
}
/* line 199, ../sass/screen.scss */
a.writing {
  color: #19b3b3;
}
/* line 203, ../sass/screen.scss */
a.speaking {
  color: #ca3f3f;
}
/* line 207, ../sass/screen.scss */
a.projects {
  color: #ccc61e;
}
/* line 210, ../sass/screen.scss */
a.about {
  color: #c91d73;
}

/* line 215, ../sass/screen.scss */
p.home a {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
}
/* line 218, ../sass/screen.scss */
p.home a:hover {
  border-bottom: 2px solid #999;
  color: #555;
}

/* line 224, ../sass/screen.scss */
header a {
  color: #999;
  padding: 1em;
}
/* line 227, ../sass/screen.scss */
header a:hover {
  color: #000;
}

/* line 232, ../sass/screen.scss */
a article {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  border-top: 2px solid #eee;
  color: #666;
}
/* line 237, ../sass/screen.scss */
a article:hover {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  color: #333;
}
/* line 241, ../sass/screen.scss */
a article:hover h2:after {
  color: #ccc;
  content: "→";
  margin-left: 0.2em;
}

/* line 249, ../sass/screen.scss */
.writing a:hover article {
  border-top: 2px solid #19b3b3;
}

/* line 253, ../sass/screen.scss */
.speaking a:hover article {
  border-top: 2px solid #ca3f3f;
}

/* line 257, ../sass/screen.scss */
.projects a:hover article {
  border-top: 2px solid #ccc61e;
}

/* line 261, ../sass/screen.scss */
.about a:hover article {
  border-top: 2px solid #c91d73;
}

/* line 265, ../sass/screen.scss */
.social a {
  color: #ccc;
  padding: 0;
}
/* line 268, ../sass/screen.scss */
.social a:hover {
  color: #333;
}

/* line 273, ../sass/screen.scss */
.contact a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ccc;
  color: #fff;
  margin-right: 1em;
  padding: 0.75em 1em;
}
/* line 279, ../sass/screen.scss */
.contact a:hover {
  background-color: #333;
}

/* line 284, ../sass/screen.scss */
header a, h1 a, nav a, footer a, header a:hover, h1 a:hover, nav a:hover, footer a:hover {
  border-bottom: none;
}

/* line 288, ../sass/screen.scss */
.single h1 a {
  color: #19b3b3;
}
/* line 290, ../sass/screen.scss */
.single h1 a:hover {
  color: #444444;
}

/* line 295, ../sass/screen.scss */
a.back {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #ddd;
  color: #666;
  float: right;
  margin: 2em 1em 2em 0;
  padding: 0.75em 1em;
  text-transform: uppercase;
}
/* line 303, ../sass/screen.scss */
a.back:hover {
  border: 2px solid #19b3b3;
  color: #444444;
}

/* line 311, ../sass/screen.scss */
.icon {
  font-weight: normal;
}
/* line 313, ../sass/screen.scss */
.icon:before {
  content: attr(data-icon);
  font-family: "entypo";
  font-size: 2em;
  speak: none;
}

/* line 322, ../sass/screen.scss */
.social .icon {
  font-size: 2em;
  padding: 0.8em;
}
/* line 325, ../sass/screen.scss */
.social .icon.twitter:before, .social .icon.tumblr:before, .social .icon.github:before, .social .icon.dribbble:before, .social .icon.instagram:before, .social .icon.pinterest:before {
  font-family: "entypo-social";
  content: attr(data-icon);
}
/* line 329, ../sass/screen.scss */
.social .icon.rss:before {
  font-family: "entypo";
  content: attr(data-icon);
}

/* $LAYOUT ********************************************************************/
/* line 338, ../sass/screen.scss */
header, section, footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after, section:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 344, ../sass/screen.scss */
.header-wrapper {
  border-bottom: 2px solid #eee;
}

/* line 348, ../sass/screen.scss */
.site-title {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 352, ../sass/screen.scss */
nav {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 357, ../sass/screen.scss */
aside {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  border-top: 2px solid #ddd;
  min-height: 5em;
  padding-top: 1em;
}

/* line 364, ../sass/screen.scss */
article {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-bottom: 1em;
  padding-top: 1em;
}

/* line 370, ../sass/screen.scss */
section.single article {
  padding-top: 0;
}

/* line 374, ../sass/screen.scss */
li {
  overflow: hidden;
  *zoom: 1;
}

/* line 378, ../sass/screen.scss */
.footer-wrapper {
  border-top: 2px solid #eee;
  margin-top: 2em;
}

/* line 383, ../sass/screen.scss */
footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

/* line 388, ../sass/screen.scss */
.social {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 392, ../sass/screen.scss */
.contact {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* $MODULES *******************************************************************/
/* $MEDIA QUERIES *************************************************************/
