@charset "UTF-8";
/* $TITLE **********************************************************************

  Style rules for jenmyers.net
  Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/
/* $CONTENTS *******************************************************************

  * Imports
  * Mixins
  * Fonts
  * Variables
  * Grid
  * Breakpoints
  * Base
  * Layout
  * Typography
  * Media Queries

*******************************************************************************/
/* $IMPORTS *******************************************************************/
/* line 5, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* $MIXINS ********************************************************************/
/* $FONTS *********************************************************************/
@font-face {
  font-family: "entypo";
  src: url('/assets/fonts/entypo.eot?1406386143');
  src: url('/assets/fonts/entypo.eot?&1406386143#iefix') format('embedded-opentype'), url('/assets/fonts/entypo.woff?1406386143') format('woff'), url('/assets/fonts/entypo.ttf?1406386143') format('truetype'), url('/assets/fonts/entypo.svg?1406386143') format('svg');
}
@font-face {
  font-family: "entypo-social";
  src: url('/assets/fonts/entypo-social.eot?1406386143');
  src: url('/assets/fonts/entypo-social.eot?&1406386143#iefix') format('embedded-opentype'), url('/assets/fonts/entypo-social.ttf?1406386143') format('truetype'), url('/assets/fonts/entypo-social.woff?1406386143') format('woff'), url('/assets/fonts/entypo-social.svg?1406386143') format('svg');
}
/* $VARIABLES *****************************************************************/
/* $GRID **********************************************************************/
/* $BREAKPOINTS ***************************************************************/
/* $BASE **********************************************************************/
/* line 67, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 71, ../sass/screen.scss */
body {
  background-color: whitesmoke;
  color: #454545;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  margin: 0;
}

/* $LAYOUT ********************************************************************/
/* line 81, ../sass/screen.scss */
header, section, footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/general/_clearfix.scss */
header:after, section:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 87, ../sass/screen.scss */
.header-wrapper {
  border-bottom: 2px solid #eeeeee;
}

/* line 91, ../sass/screen.scss */
.site-title {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 95, ../sass/screen.scss */
nav {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 100, ../sass/screen.scss */
aside {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  border-top: 2px solid #dddddd;
  min-height: 5em;
  padding-top: 1em;
}

/* line 107, ../sass/screen.scss */
article {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  border-top: 2px solid #eeeeee;
  margin-bottom: 3em;
  padding-top: 1em;
}

/* line 114, ../sass/screen.scss */
section.single article {
  padding-top: 0;
}

/* line 118, ../sass/screen.scss */
li {
  overflow: hidden;
  *zoom: 1;
}

/* line 122, ../sass/screen.scss */
.footer-wrapper {
  border-top: 2px solid #eeeeee;
  margin-top: 2em;
}

/* line 127, ../sass/screen.scss */
footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

/* line 132, ../sass/screen.scss */
.social {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 136, ../sass/screen.scss */
.contact {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 140, ../sass/screen.scss */
hr {
  border: 1px solid #eeeeee;
}

/* $TYPOGRAPHY ****************************************************************/
/* line 146, ../sass/screen.scss */
h1 {
  font-family: "republic-web", serif;
  font-size: 3.5em;
  font-weight: 500;
  margin: 1em 0;
}

/* line 153, ../sass/screen.scss */
h2 {
  font-family: "republic-web", serif;
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  line-height: 120%;
}

/* line 161, ../sass/screen.scss */
h3 {
  font-size: 2em;
  font-weight: 500;
  line-height: 140%;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
}

/* line 169, ../sass/screen.scss */
h4 {
  border-top: 2px solid #eeeeee;
  color: #999999;
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 1em;
  padding-top: 0.5em;
  text-transform: uppercase;
}

/* line 179, ../sass/screen.scss */
h5 {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 0.5em;
}

/* line 185, ../sass/screen.scss */
h6 {
  font-size: 0.8em;
  line-height: 130%;
  margin-left: 1em;
  text-transform: uppercase;
}

/* line 192, ../sass/screen.scss */
aside h4 {
  border-top: none;
  font-size: 1.1em;
  margin-top: 0;
  padding-top: 0;
}
/* line 197, ../sass/screen.scss */
aside h4:nth-of-type(2) {
  margin-top: 3em;
}

/* line 202, ../sass/screen.scss */
article h4 {
  border-top: none;
  margin-top: 2em;
}

/* line 207, ../sass/screen.scss */
article h4:nth-of-type(1) {
  margin-top: 0;
}

/* line 211, ../sass/screen.scss */
p, blockquote {
  font-family: "republic-web", serif;
  font-size: 1.2em;
  line-height: 160%;
  margin: 1em 0;
}

/* line 218, ../sass/screen.scss */
blockquote {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6f6f6;
  font-style: italic;
  padding: 0.75em 1em;
}

/* line 225, ../sass/screen.scss */
article p:first-child {
  font-style: italic;
}

/* line 229, ../sass/screen.scss */
h2 + p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  margin: 0.5em 0;
}

/* line 235, ../sass/screen.scss */
p.caption {
  color: #999999;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* line 242, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 246, ../sass/screen.scss */
ol li {
  font-family: "republic-web", serif;
  font-size: 1.2em;
  line-height: 160%;
  list-style-type: decimal;
  margin: 1em 0 1em 1em;
  overflow: visible;
}

/* line 255, ../sass/screen.scss */
.links li {
  font-size: 1.1em;
  line-height: 130%;
  margin: 2em 0;
}

/* line 261, ../sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 265, ../sass/screen.scss */
header {
  letter-spacing: 1px;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  text-transform: uppercase;
}
/* line 270, ../sass/screen.scss */
header h1 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

/* line 278, ../sass/screen.scss */
.site-title {
  font-size: 1em;
}

/* line 283, ../sass/screen.scss */
.social li {
  display: inline;
}

/* line 288, ../sass/screen.scss */
.contact {
  color: #999999;
  font-size: 1em;
  margin-top: 1.5em;
  text-align: right;
  text-transform: uppercase;
}

/* line 296, ../sass/screen.scss */
p.home {
  color: #666666;
  font-family: "republic-web", serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
  line-height: 135%;
  margin: 1.5em auto 1em auto;
  width: 85%;
}

/* line 307, ../sass/screen.scss */
.writing {
  color: #58b6a9;
}

/* line 311, ../sass/screen.scss */
.speaking {
  color: #ee5c5c;
}

/* line 315, ../sass/screen.scss */
.projects {
  color: #f7be7a;
}

/* line 319, ../sass/screen.scss */
.about {
  color: #c95b92;
}

/* line 325, ../sass/screen.scss */
.icon {
  font-weight: normal;
  vertical-align: middle;
}
/* line 328, ../sass/screen.scss */
.icon:before {
  content: attr(data-icon);
  font-family: "entypo";
  font-size: 2em;
  speak: none;
}

/* line 337, ../sass/screen.scss */
.social .icon {
  font-size: 2em;
  padding: 0.8em;
}
/* line 340, ../sass/screen.scss */
.social .icon.twitter:before, .social .icon.tumblr:before, .social .icon.github:before, .social .icon.dribbble:before, .social .icon.instagram:before, .social .icon.pinterest:before {
  font-family: "entypo-social";
  content: attr(data-icon);
}
/* line 344, ../sass/screen.scss */
.social .icon.rss:before {
  font-family: "entypo";
  content: attr(data-icon);
}

/* line 351, ../sass/screen.scss */
.presentation .icon {
  font-size: 1.5em;
}

/* line 355, ../sass/screen.scss */
.presentation .icon-label {
  vertical-align: text-top;
}

/* $ANCHORS *******************************************************************/
/* line 361, ../sass/screen.scss */
a {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  border-bottom: 2px solid #dddddd;
  color: #333333;
  padding-bottom: 2px;
  text-decoration: none;
}
/* line 368, ../sass/screen.scss */
a:hover {
  border-bottom: 2px solid #999999;
}
/* line 371, ../sass/screen.scss */
a.writing {
  color: #58b6a9;
}
/* line 374, ../sass/screen.scss */
a.speaking {
  color: #ee5c5c;
}
/* line 377, ../sass/screen.scss */
a.projects {
  color: #f7be7a;
}
/* line 380, ../sass/screen.scss */
a.about {
  color: #c95b92;
}

/* line 385, ../sass/screen.scss */
p.home a {
  border-bottom: 2px solid #dddddd;
  font-weight: 600;
}
/* line 388, ../sass/screen.scss */
p.home a:hover {
  border-bottom: 2px solid #999999;
  color: #555;
}

/* line 394, ../sass/screen.scss */
header a {
  color: #999999;
  padding: 1em;
}
/* line 397, ../sass/screen.scss */
header a:hover {
  color: #333333;
}

/* line 402, ../sass/screen.scss */
a article {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  border-top: 2px solid #eeeeee;
  color: #454545;
}
/* line 407, ../sass/screen.scss */
a article:hover {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  color: #333333;
}
/* line 411, ../sass/screen.scss */
a article:hover h2:after {
  color: #cccccc;
  content: "→";
  margin-left: 0.2em;
}

/* line 419, ../sass/screen.scss */
.links li a {
  border-bottom: none;
  color: #454545;
}
/* line 422, ../sass/screen.scss */
.links li a:hover {
  color: #333333;
  border-bottom: none;
}

/* line 428, ../sass/screen.scss */
a .icon {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  color: #cccccc;
}

/* line 434, ../sass/screen.scss */
.page-speaking a:hover .icon {
  color: #ee5c5c;
}

/* line 438, ../sass/screen.scss */
.page-about a:hover .icon {
  color: #c95b92;
}

/* line 442, ../sass/screen.scss */
.page-writing a:hover article {
  border-top: 2px solid #58b6a9;
}

/* line 446, ../sass/screen.scss */
.page-speaking a:hover article {
  border-top: 2px solid #ee5c5c;
}

/* line 450, ../sass/screen.scss */
.page-projects a:hover article {
  border-top: 2px solid #f7be7a;
}

/* line 454, ../sass/screen.scss */
.page-about a:hover article {
  border-top: 2px solid #c95b92;
}

/* line 458, ../sass/screen.scss */
a.presentation {
  border-bottom: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #eeeeee;
  padding: 0 0.5em;
  display: inline-block;
  margin: 0 1em 0.5em 0;
  text-transform: uppercase;
}
/* line 466, ../sass/screen.scss */
a.presentation:hover {
  border: 2px solid #ee5c5c;
  color: #ee5c5c;
}

/* line 472, ../sass/screen.scss */
.social a {
  color: #cccccc;
  padding: 0;
}
/* line 475, ../sass/screen.scss */
.social a:hover {
  color: #333333;
}

/* line 480, ../sass/screen.scss */
.contact a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #cccccc;
  color: whitesmoke;
  margin-right: 1em;
  padding: 0.75em 1em 0.6em 1em;
}
/* line 486, ../sass/screen.scss */
.contact a:hover {
  background-color: #333333;
}

/* line 491, ../sass/screen.scss */
header a, h1 a, nav a, footer a, header a:hover, h1 a:hover, nav a:hover, footer a:hover {
  border-bottom: none;
}

/* line 495, ../sass/screen.scss */
.single h1 a {
  color: #454545;
}
/* line 497, ../sass/screen.scss */
.single h1 a:hover {
  color: #58b6a9;
}

/* line 502, ../sass/screen.scss */
a.back {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #dddddd;
  float: right;
  margin: 2em 1em 2em 0;
  padding: 0.75em 1em 0.6em 1em;
  text-transform: uppercase;
}
/* line 509, ../sass/screen.scss */
a.back:hover {
  border: 2px solid #58b6a9;
  color: #58b6a9;
}

/* line 515, ../sass/screen.scss */
.page-about a.back:hover {
  border: 2px solid #c95b92;
}

/* line 519, ../sass/screen.scss */
a h6 {
  color: #999999;
}

/* $IMAGES ********************************************************************/
/* line 525, ../sass/screen.scss */
.inline {
  border: 2px solid #eeeeee;
  float: right;
  margin-left: 1em;
  padding: 1em;
}

/* MEDIA QUERIES ********************************************************************************************/
@media (min-width: 0px) and (max-width: 767px) {
  /* line 535, ../sass/screen.scss */
  body {
    font-size: 85%;
    padding: 0 1em;
  }

  /* line 539, ../sass/screen.scss */
  .site-title {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1em;
    text-align: center;
  }

  /* line 544, ../sass/screen.scss */
  header {
    padding-bottom: 1em;
    padding-top: 2em;
  }
  /* line 547, ../sass/screen.scss */
  header h1 {
    font-size: 1.4em;
    font-weight: 700;
  }

  /* line 552, ../sass/screen.scss */
  nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
  }
  /* line 555, ../sass/screen.scss */
  nav a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #eeeeee;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
  }

  /* line 563, ../sass/screen.scss */
  p.home {
    font-size: 1.8em;
    margin: 1em 0 0 0;
    text-align: center;
  }

  /* line 568, ../sass/screen.scss */
  aside {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    min-height: 2em;
    text-align: center;
  }

  /* line 573, ../sass/screen.scss */
  article {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1em;
    text-align: center;
  }
  /* line 577, ../sass/screen.scss */
  article p, article li {
    text-align: left;
  }
  /* line 580, ../sass/screen.scss */
  article p:first-child {
    font-size: 1.2em;
    margin-top: 1em;
  }

  /* line 585, ../sass/screen.scss */
  h1, h3 {
    text-align: center;
  }

  /* line 588, ../sass/screen.scss */
  h1 {
    font-size: 2.5em;
  }

  /* line 591, ../sass/screen.scss */
  h4 {
    font-size: 1.2em;
  }

  /* line 594, ../sass/screen.scss */
  h2 + p {
    text-align: center;
  }

  /* line 597, ../sass/screen.scss */
  a article, a:hover article {
    border-top: none;
  }

  /* line 600, ../sass/screen.scss */
  a.back {
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
    width: 100%;
  }

  /* line 606, ../sass/screen.scss */
  .inline {
    float: none;
    margin: 0;
    width: 25%;
  }

  /* line 611, ../sass/screen.scss */
  footer {
    padding: 2em 0 4em 0;
  }
  /* line 613, ../sass/screen.scss */
  footer .social, footer .contact {
    width: 100%;
    float: left;
    margin-right: 2.27273%;
    text-align: center;
  }
  /* line 617, ../sass/screen.scss */
  footer .contact {
    margin-top: 2em;
  }
  /* line 619, ../sass/screen.scss */
  footer .contact a {
    margin-right: 0;
  }
}
