@charset "UTF-8";
/* IMPORTS ********************************************************************************************/
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* INCLUDES ********************************************************************************************/
@font-face {
  font-family: "SocialicoRegular";
  src: url('/stylesheets/fonts/socialico-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/socialico-webfont.woff') format('woff'), url('/stylesheets/fonts/socialico-webfont.ttf') format('truetype'), url('/stylesheets/fonts/socialico-webfont.svg') format('svg'); }

@font-face {
  font-family: "entypo";
  src: url('/stylesheets/fonts/entypo.eot');
  src: url('/stylesheets/fonts/entypo.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/entypo.woff') format("woff"), url('/stylesheets/fonts/entypo.ttf') format("truetype"), url('/stylesheets/fonts/entypo.svg#entypo') format("svg"), url('/stylesheets/fonts/entypo.otf') format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "entypo";
  src: url('/stylesheets/fonts/entypo.eot') format('embedded-opentype'), url('/stylesheets/fonts/entypo.woff') format('woff'), url('/stylesheets/fonts/entypo.ttf') format('truetype'), url('/stylesheets/fonts/entypo.svg') format('svg'); }

/* line 10, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px; }
  /* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .page .page-footer {
    height: 30px; }

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 30px; }

/* GRID ********************************************************************************************/
/* BREAKPOINTS ********************************************************************************************/
/* LAYOUT ********************************************************************************************/
/* line 33, ../sass/screen.scss */
html, body {
  height: 100%; }

/* line 35, ../sass/screen.scss */
body {
  background-color: #f2f2f3;
  background-attachment: fixed;
  background-image: url("../images/robot.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: #333;
  font-family: "proxima-nova", sans-serif;
  line-height: 170%; }

/* line 46, ../sass/screen.scss */
.nav-wrapper, .footer-wrapper {
  background-color: #333;
  width: 100%; }

/* line 51, ../sass/screen.scss */
nav {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding: 1em 0; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  nav:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 51, ../sass/screen.scss */
    nav {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 51, ../sass/screen.scss */
    nav {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 51, ../sass/screen.scss */
    nav {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 51, ../sass/screen.scss */
    nav {
      max-width: 49em; } }
  /* line 54, ../sass/screen.scss */
  nav li {
    color: #666;
    font-family: "proxima-nova-extra-condensed";
    font-size: 1.4em;
    text-transform: uppercase; }
  /* line 60, ../sass/screen.scss */
  nav .title {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    /* line 62, ../sass/screen.scss */
    nav .title .name {
      margin-right: 1em; }
      /* line 64, ../sass/screen.scss */
      nav .title .name a {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #289aaf; }
        /* line 68, ../sass/screen.scss */
        nav .title .name a:hover {
          color: #fff; }
  /* line 74, ../sass/screen.scss */
  nav .contents {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    text-align: right; }
    /* line 77, ../sass/screen.scss */
    nav .contents li {
      margin-left: 0.6em; }
      /* line 79, ../sass/screen.scss */
      nav .contents li a {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #888; }
        /* line 83, ../sass/screen.scss */
        nav .contents li a:hover {
          color: #289aaf; }
        /* line 86, ../sass/screen.scss */
        nav .contents li a.current {
          -webkit-transition-property: border-bottom;
          -moz-transition-property: border-bottom;
          -o-transition-property: border-bottom;
          transition-property: border-bottom;
          -webkit-transition-duration: 0.4s;
          -moz-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
          border-bottom: 2px solid #289aaf; }
        /* line 91, ../sass/screen.scss */
        nav .contents li a.current:hover {
          border-bottom: 2px solid #9AAF28;
          color: #666; }

/* line 100, ../sass/screen.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 40px;
  padding-top: 100px; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 100, ../sass/screen.scss */
    .page {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 100, ../sass/screen.scss */
    .page {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 100, ../sass/screen.scss */
    .page {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 100, ../sass/screen.scss */
    .page {
      max-width: 49em; } }
  /* line 104, ../sass/screen.scss */
  .page section {
    clear: both;
    padding-top: 180px; }
  /* line 108, ../sass/screen.scss */
  .page article {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    font-size: 1.2em;
    margin-bottom: 4em; }
    /* line 112, ../sass/screen.scss */
    .page article .block {
      border: 2px solid #e7e7ee;
      display: block;
      margin: 2em auto;
      padding: 7px; }
    /* line 118, ../sass/screen.scss */
    .page article .inline {
      border: 2px solid #e7e7ee;
      float: left;
      margin: 0 1em 1em 0;
      padding: 7px; }
    /* line 124, ../sass/screen.scss */
    .page article .license {
      margin-top: 3em;
      text-align: right; }
      /* line 127, ../sass/screen.scss */
      .page article .license a.cc-icon {
        font-family: "EntypoRegular";
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        border-bottom: 1px solid #fff;
        color: #999; }
        /* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/font-icons-1.0.3.beta/stylesheets/base/_font-mixins.scss */
        .page article .license a.cc-icon:before {
          font-family: "entypo";
          font-style: normal;
          font-size: 2em;
          margin-right: 0em;
          text-align: center;
          display: inline-block;
          width: 1em; }
        /* line 135, ../sass/screen.scss */
        .page article .license a.cc-icon:hover.cc-icon {
          color: #333; }
  /* line 141, ../sass/screen.scss */
  .page aside {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    border-top: 5px solid #e7e7ee;
    padding-top: 0.5em; }
    /* line 145, ../sass/screen.scss */
    .page aside .summary {
      color: #999;
      font-family: "kulturista-web";
      font-size: 1.2em;
      font-style: italic;
      font-weight: 300;
      line-height: 125%;
      margin-bottom: 0.5em; }

/* line 157, ../sass/screen.scss */
footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 30px;
  padding: 30px 0; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  footer:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 157, ../sass/screen.scss */
    footer {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 157, ../sass/screen.scss */
    footer {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 157, ../sass/screen.scss */
    footer {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 157, ../sass/screen.scss */
    footer {
      max-width: 49em; } }
  /* line 161, ../sass/screen.scss */
  footer ul.social {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    /* line 163, ../sass/screen.scss */
    footer ul.social li {
      display: inline;
      font-family: "SocialicoRegular";
      font-size: 56px; }
      /* line 167, ../sass/screen.scss */
      footer ul.social li a {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #666; }
        /* line 171, ../sass/screen.scss */
        footer ul.social li a:hover {
          color: #289aaf; }
  /* line 177, ../sass/screen.scss */
  footer .logo {
    width: 15.25424%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    color: #666;
    font-family: "proxima-nova-extra-condensed";
    font-size: 1.4em;
    margin-top: 0.2em;
    text-align: right;
    text-transform: uppercase; }
    /* line 185, ../sass/screen.scss */
    footer .logo img {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      opacity: 0.4;
      float: right;
      margin-left: 0.5em;
      margin-top: -0.45em; }
    /* line 191, ../sass/screen.scss */
    footer .logo a {
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      color: #666; }
      /* line 195, ../sass/screen.scss */
      footer .logo a:hover {
        color: #fff; }
        /* line 197, ../sass/screen.scss */
        footer .logo a:hover img {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
          opacity: 0.8; }
      /* line 201, ../sass/screen.scss */
      footer .logo a img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        opacity: 0.4;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity; }

/* TYPOGRAPHY ********************************************************************************************/
/* line 214, ../sass/screen.scss */
p {
  margin-bottom: 1em; }

/* line 216, ../sass/screen.scss */
article {
  font-size: 120%; }

/* line 218, ../sass/screen.scss */
nav li {
  display: inline; }

/* line 220, ../sass/screen.scss */
p.caption {
  color: #888;
  font-family: "proxima-nova-extra-condensed";
  font-size: 95%;
  line-height: 110%;
  margin-top: 0.5em;
  text-transform: uppercase; }

/* line 231, ../sass/screen.scss */
h1 {
  display: block;
  font-family: "kulturista-web";
  font-size: 5em;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 0.5em;
  width: 100%; }

/* line 241, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
  line-height: 100%;
  margin-top: 20px; }

/* line 247, ../sass/screen.scss */
h3 {
  color: #9AAF28;
  font-family: "proxima-nova-extra-condensed";
  font-size: 1.7em;
  margin-bottom: 0.6em;
  margin-top: 1.4em;
  line-height: 100%;
  text-transform: uppercase; }
  /* line 255, ../sass/screen.scss */
  h3.top {
    margin-top: 0; }

/* line 258, ../sass/screen.scss */
h4 {
  color: #999;
  font-family: "proxima-nova-extra-condensed";
  text-transform: uppercase; }

/* line 264, ../sass/screen.scss */
aside h4 {
  font-size: 1.5em; }

/* line 268, ../sass/screen.scss */
h5 {
  font-family: "proxima-nova-extra-condensed";
  font-size: 1.2em;
  margin-top: 1em;
  text-align: right;
  text-transform: uppercase; }

/* line 276, ../sass/screen.scss */
h6 {
  text-transform: uppercase; }

/* line 280, ../sass/screen.scss */
li {
  margin-bottom: 0.6em; }

/* line 282, ../sass/screen.scss */
ul.links {
  margin-bottom: 1em; }
  /* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/font-icons-1.0.3.beta/stylesheets/base/_font-mixins.scss */
  ul.links li:before {
    font-family: "entypo";
    font-style: normal;
    font-size: 1em;
    margin-right: 0.8em;
    text-align: center;
    display: inline-block;
    width: 1em; }

/* line 292, ../sass/screen.scss */
strong {
  font-weight: bold; }

/* line 294, ../sass/screen.scss */
em {
  font-style: italic; }

/* line 296, ../sass/screen.scss */
small {
  font-size: 0.8em;
  font-style: italic; }

/* line 301, ../sass/screen.scss */
blockquote {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #e7e7ee;
  font-size: 90%;
  font-style: italic;
  line-height: 145%;
  margin: 20px;
  padding: 20px; }

/* line 312, ../sass/screen.scss */
article li span {
  color: #666;
  font-family: "proxima-nova-extra-condensed";
  font-size: 95%;
  margin-left: 10px;
  text-transform: uppercase; }

/* ANCHORS ********************************************************************************************/
/* line 322, ../sass/screen.scss */
a {
  border-bottom: 1px dashed #aaa;
  color: #289aaf;
  text-decoration: none; }
  /* line 326, ../sass/screen.scss */
  a:hover {
    border-bottom: 1px solid #ddd;
    color: #000; }

/* line 332, ../sass/screen.scss */
h1 a, h2 a, h4 a, nav a, footer a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #333; }
  /* line 337, ../sass/screen.scss */
  h1 a:hover, h2 a:hover, h4 a:hover, nav a:hover, footer a:hover {
    border-bottom: none;
    color: #289aaf; }

/* line 343, ../sass/screen.scss */
h3 a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #289aaf; }
  /* line 348, ../sass/screen.scss */
  h3 a:hover {
    border-bottom: none;
    color: #333; }
  /* line 352, ../sass/screen.scss */
  h3 a:after {
    color: #ccc;
    content: "→";
    margin-left: 0.2em; }
  /* line 357, ../sass/screen.scss */
  h3 a:hover:after {
    color: #289aaf; }

/* line 362, ../sass/screen.scss */
h5 a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #9AAF28; }
  /* line 367, ../sass/screen.scss */
  h5 a:hover {
    border-bottom: none;
    color: #333; }

/* MEDIA QUERIES ********************************************************************************************/
@media (max-width: 19em) {
  /* line 376, ../sass/screen.scss */
  nav {
    font-size: 0.6em;
    line-height: 130%;
    padding: 2em 0; }
    /* line 380, ../sass/screen.scss */
    nav .title {
      margin-bottom: 1em;
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block; }
      /* line 382, ../sass/screen.scss */
      nav .title .name {
        display: block; }
    /* line 388, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      text-align: left; }
      /* line 392, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 398, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 0px; }
    /* line 401, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 402, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      margin-bottom: 3em; }
      /* line 405, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 409, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%; }
      /* line 413, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 418, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 5.26316%; }
      /* line 419, ../sass/screen.scss */
      .page aside h4 {
        font-size: 0.8em;
        margin-bottom: 1em; }
    /* line 424, ../sass/screen.scss */
    .page h1 {
      font-size: 1.4em; }
    /* line 425, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 426, ../sass/screen.scss */
    .page h3 {
      font-size: 1em; }
    /* line 427, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 428, ../sass/screen.scss */
    .page h5 {
      font-size: 0.8em; }
    /* line 429, ../sass/screen.scss */
    .page p {
      font-size: 0.7em;
      line-height: 125%; }
    /* line 434, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.7em;
      line-height: 125%; }

  /* line 440, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 442, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center; }
      /* line 448, ../sass/screen.scss */
      footer ul.social li {
        font-size: 42px; }
    /* line 450, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 455, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 461, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 20em) and (max-width: 30em) {
  /* line 470, ../sass/screen.scss */
  nav {
    font-size: 0.9em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 474, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 479, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      text-align: left; }
      /* line 483, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 489, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 0px; }
    /* line 492, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 493, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      margin-bottom: 3em; }
      /* line 496, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
      /* line 500, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 504, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%; }
    /* line 509, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 3.44828%; }
      /* line 510, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.2em;
        margin-bottom: 1em; }
    /* line 515, ../sass/screen.scss */
    .page h1 {
      font-size: 2.2em; }
    /* line 516, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 517, ../sass/screen.scss */
    .page h3 {
      font-size: 1.5em; }
    /* line 518, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 519, ../sass/screen.scss */
    .page h5 {
      font-size: 1.2em; }
    /* line 520, ../sass/screen.scss */
    .page p {
      font-size: 0.9em;
      line-height: 130%; }
    /* line 525, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.9em;
      line-height: 130%; }

  /* line 531, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 533, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center; }
      /* line 539, ../sass/screen.scss */
      footer ul.social li {
        font-size: 52px; }
    /* line 541, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 546, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 552, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 30.1em) and (max-width: 40em) {
  /* line 561, ../sass/screen.scss */
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 565, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 570, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      text-align: left; }
      /* line 574, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 580, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 20px; }
    /* line 583, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 584, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      margin-bottom: 3em; }
      /* line 587, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 591, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 25%; }
      /* line 595, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 600, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 2.5641%; }
      /* line 601, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.4em;
        margin-bottom: 1em; }
    /* line 606, ../sass/screen.scss */
    .page h1 {
      font-size: 2.6em; }
    /* line 607, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 608, ../sass/screen.scss */
    .page h3 {
      font-size: 1.6em; }
    /* line 609, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 610, ../sass/screen.scss */
    .page h5 {
      font-size: 1.2em; }
    /* line 611, ../sass/screen.scss */
    .page p {
      font-size: 0.9em;
      line-height: 130%; }
    /* line 616, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.9em;
      line-height: 130%; }

  /* line 622, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 624, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0; }
      /* line 630, ../sass/screen.scss */
      footer ul.social li {
        font-size: 52px; }
    /* line 632, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 637, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 643, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 40.1em) and (max-width: 63em) {
  /* line 652, ../sass/screen.scss */
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 656, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 661, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      text-align: left; }
      /* line 665, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 671, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 20px; }
    /* line 674, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 675, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      margin-bottom: 3em; }
      /* line 678, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 682, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 20%; }
      /* line 686, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 691, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 2.04082%; }
      /* line 692, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.4em;
        margin-bottom: 1em; }
    /* line 697, ../sass/screen.scss */
    .page h1 {
      font-size: 2.8em; }
    /* line 698, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 699, ../sass/screen.scss */
    .page h3 {
      font-size: 1.7em; }
    /* line 700, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 701, ../sass/screen.scss */
    .page h5 {
      font-size: 1.3em; }

  /* line 703, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 705, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0; }
      /* line 711, ../sass/screen.scss */
      footer ul.social li {
        font-size: 62px; }
    /* line 713, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 718, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 724, ../sass/screen.scss */
  blockquote {
    font-size: 0.8em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
/* line 734, ../sass/screen.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'entypo';
  font-style: normal;
  speak: none; }

/* line 739, ../sass/screen.scss */
.icon-creative-commons:before {
  color: #999;
  content: "\e000";
  font-size: 1.6em; }

/* line 744, ../sass/screen.scss */
.icon-creative-commons {
  border-bottom: 1px dashed #f2f2f3; }
  /* line 746, ../sass/screen.scss */
  .icon-creative-commons:hover {
    border-bottom: 1px dashed #f2f2f3; }
