@charset "UTF-8";
/* IMPORTS ********************************************************************************************/
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* INCLUDES ********************************************************************************************/
@font-face {
  font-family: "entypo";
  src: url('/stylesheets/fonts/entypo.eot');
  src: url('/stylesheets/fonts/entypo.eot?#iefix') format('eot'), url('/stylesheets/fonts/entypo.woff') format('woff'), url('/stylesheets/fonts/entypo.ttf') format('truetype'), url('/stylesheets/fonts/entypo.svg') format('svg'); }

@font-face {
  font-family: "entypo-social";
  src: url('/stylesheets/fonts/entypo-social.eot');
  src: url('/stylesheets/fonts/entypo-social.eot?#iefix') format('eot'), url('/stylesheets/fonts/entypo-social.ttf') format('truetype'), url('/stylesheets/fonts/entypo-social.woff') format('woff'), url('/stylesheets/fonts/entypo-social.svg') format('svg'); }

/* line 10, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px; }
  /* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .page .page-footer {
    height: 30px; }

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 30px; }

/* GRID ********************************************************************************************/
/* BREAKPOINTS ********************************************************************************************/
/* COLORS ********************************************************************************************/
/* LAYOUT ********************************************************************************************/
/* line 42, ../sass/screen.scss */
html, body {
  height: 100%; }

/* line 44, ../sass/screen.scss */
body {
  background-color: #f6f6f6;
  color: #464646;
  font-family: "proxima-nova", sans-serif;
  line-height: 200%; }

/* line 51, ../sass/screen.scss */
.nav-wrapper, .footer-wrapper {
  width: 100%; }

/* line 55, ../sass/screen.scss */
.footer-wrapper {
  background-color: #464646; }

/* line 59, ../sass/screen.scss */
nav {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2em 0 0.6em 0; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  nav:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 59, ../sass/screen.scss */
    nav {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 59, ../sass/screen.scss */
    nav {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 59, ../sass/screen.scss */
    nav {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 59, ../sass/screen.scss */
    nav {
      max-width: 49em; } }
  /* line 63, ../sass/screen.scss */
  nav li {
    color: #c3c6d5;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase; }
    /* line 68, ../sass/screen.scss */
    nav li a {
      padding: 1em; }
  /* line 72, ../sass/screen.scss */
  nav .title {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    /* line 74, ../sass/screen.scss */
    nav .title .name {
      margin-right: 0.5em; }
      /* line 76, ../sass/screen.scss */
      nav .title .name a {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #464646;
        font-weight: bold; }
        /* line 81, ../sass/screen.scss */
        nav .title .name a:hover {
          color: #dd4a38; }
    /* line 86, ../sass/screen.scss */
    nav .title .desc {
      font-weight: 400; }
  /* line 90, ../sass/screen.scss */
  nav .contents {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    text-align: right; }
    /* line 93, ../sass/screen.scss */
    nav .contents li {
      margin-left: 0.6em; }
      /* line 95, ../sass/screen.scss */
      nav .contents li a {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #9c9eab; }
        /* line 99, ../sass/screen.scss */
        nav .contents li a:hover {
          color: #464646; }
        /* line 102, ../sass/screen.scss */
        nav .contents li a.current {
          -webkit-transition-property: color;
          -moz-transition-property: color;
          -o-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.4s;
          -moz-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
          border-bottom: 2px solid #636570; }
        /* line 107, ../sass/screen.scss */
        nav .contents li a.current:hover {
          border-bottom: 2px solid #636570;
          color: #464646; }

/* line 116, ../sass/screen.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 100px; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 116, ../sass/screen.scss */
    .page {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 116, ../sass/screen.scss */
    .page {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 116, ../sass/screen.scss */
    .page {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 116, ../sass/screen.scss */
    .page {
      max-width: 49em; } }
  /* line 120, ../sass/screen.scss */
  .page section {
    clear: both;
    padding-top: 180px; }
  /* line 124, ../sass/screen.scss */
  .page article {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    margin-bottom: 4em; }
    /* line 127, ../sass/screen.scss */
    .page article p {
      font-family: "republic-web", serif;
      font-size: 1.1em; }
    /* line 131, ../sass/screen.scss */
    .page article p.caption {
      color: #9c9eab;
      font-family: "proxima-nova", sans-serif;
      font-size: 80%;
      font-weight: bold;
      line-height: 120%;
      margin-top: 0.5em; }
    /* line 139, ../sass/screen.scss */
    .page article .block {
      border: 2px solid #dddddd;
      display: block;
      margin: 2em auto;
      padding: 7px; }
    /* line 145, ../sass/screen.scss */
    .page article .inline {
      border: 2px solid #dddddd;
      float: left;
      margin: 0 1em 1em 0;
      padding: 7px; }
    /* line 151, ../sass/screen.scss */
    .page article .talk {
      margin-bottom: 2em;
      padding-bottom: 1em; }
      /* line 154, ../sass/screen.scss */
      .page article .talk p {
        font-family: "proxima-nova", sans-serif;
        font-size: 0.8em;
        line-height: 130%;
        margin: 0.5em 0; }
      /* line 160, ../sass/screen.scss */
      .page article .talk ul {
        margin-top: 1.2em; }
        /* line 162, ../sass/screen.scss */
        .page article .talk ul li {
          border-bottom: 1px solid #dddddd;
          padding-top: 5px; }
          /* line 165, ../sass/screen.scss */
          .page article .talk ul li h4 {
            display: inline;
            text-transform: none;
            vertical-align: top; }
          /* line 170, ../sass/screen.scss */
          .page article .talk ul li a {
            border-bottom: none; }
            /* line 172, ../sass/screen.scss */
            .page article .talk ul li a h4.talk-item {
              color: #636570; }
            /* line 176, ../sass/screen.scss */
            .page article .talk ul li a:hover h4.talk-item {
              -webkit-transition-property: color;
              -moz-transition-property: color;
              -o-transition-property: color;
              transition-property: color;
              -webkit-transition-duration: 0.4s;
              -moz-transition-duration: 0.4s;
              -o-transition-duration: 0.4s;
              transition-duration: 0.4s;
              color: #dd4a38; }
              /* line 180, ../sass/screen.scss */
              .page article .talk ul li a:hover h4.talk-item .icon {
                -webkit-transition-property: color;
                -moz-transition-property: color;
                -o-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                transition-duration: 0.4s;
                color: #dd4a38; }
      /* line 190, ../sass/screen.scss */
      .page article .talk span {
        font-weight: normal;
        margin-right: 0.4em; }
    /* line 197, ../sass/screen.scss */
    .page article ul.links li a {
      border-bottom: none;
      color: #636570;
      font-weight: bold; }
      /* line 201, ../sass/screen.scss */
      .page article ul.links li a span {
        color: #c3c6d5;
        font-weight: normal; }
      /* line 205, ../sass/screen.scss */
      .page article ul.links li a:hover {
        color: #dd4a38; }
        /* line 207, ../sass/screen.scss */
        .page article ul.links li a:hover span {
          color: #636570; }
  /* line 215, ../sass/screen.scss */
  .page aside {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    /* line 217, ../sass/screen.scss */
    .page aside .summary {
      border-top: 2px solid #dddddd;
      color: #636570;
      font-family: "republic-web", serif;
      font-style: italic;
      font-weight: 300;
      line-height: 150%;
      margin-top: 0.5em;
      padding-top: 0.5em; }

/* line 230, ../sass/screen.scss */
footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  padding: 30px 0 43px 0; }
  /* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  footer:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 19em) {
    /* line 230, ../sass/screen.scss */
    footer {
      max-width: 19em; } }
  @media (min-width: 20em) and (max-width: 30em) {
    /* line 230, ../sass/screen.scss */
    footer {
      max-width: 29em; } }
  @media (min-width: 30.1em) and (max-width: 40em) {
    /* line 230, ../sass/screen.scss */
    footer {
      max-width: 39em; } }
  @media (min-width: 40.1em) and (max-width: 63em) {
    /* line 230, ../sass/screen.scss */
    footer {
      max-width: 49em; } }
  /* line 234, ../sass/screen.scss */
  footer ul.social {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    /* line 236, ../sass/screen.scss */
    footer ul.social li {
      display: inline; }
      /* line 238, ../sass/screen.scss */
      footer ul.social li a {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        color: #636570;
        padding: 0.1em; }
        /* line 243, ../sass/screen.scss */
        footer ul.social li a:hover {
          color: #dd4a38; }
  /* line 249, ../sass/screen.scss */
  footer .logo {
    width: 15.25424%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    color: #636570;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0.5em;
    text-align: right;
    text-transform: uppercase; }
    /* line 257, ../sass/screen.scss */
    footer .logo img {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8;
      float: right;
      margin-left: 0.5em;
      margin-top: -0.4em; }
    /* line 263, ../sass/screen.scss */
    footer .logo a {
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      color: #636570;
      padding: 1em; }
      /* line 268, ../sass/screen.scss */
      footer .logo a:hover {
        color: #f6f6f6; }
        /* line 270, ../sass/screen.scss */
        footer .logo a:hover img {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
          opacity: 0.8; }
      /* line 274, ../sass/screen.scss */
      footer .logo a img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        opacity: 0.4;
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity; }

/* TYPOGRAPHY ********************************************************************************************/
/* line 287, ../sass/screen.scss */
p {
  margin-bottom: 1em; }

/* line 289, ../sass/screen.scss */
article {
  font-size: 120%; }

/* line 291, ../sass/screen.scss */
nav li {
  display: inline; }

/* line 295, ../sass/screen.scss */
h1 {
  display: block;
  font-size: 5em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 0.6em;
  width: 100%; }

/* line 304, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
  line-height: 100%;
  margin-top: 1.2em; }

/* line 310, ../sass/screen.scss */
h3 {
  color: #108698;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 100%;
  text-transform: uppercase; }
  /* line 318, ../sass/screen.scss */
  h3.top {
    margin-top: 0; }

/* line 321, ../sass/screen.scss */
h4 {
  color: #9c9eab;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.4em;
  text-transform: uppercase; }

/* line 329, ../sass/screen.scss */
aside h4 {
  font-size: 1.2em; }

/* line 333, ../sass/screen.scss */
h5 {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 10em;
  text-align: right;
  text-transform: uppercase; }

/* line 341, ../sass/screen.scss */
h6 {
  text-transform: uppercase; }

/* line 345, ../sass/screen.scss */
li {
  margin-bottom: 0.4em; }

/* line 349, ../sass/screen.scss */
strong {
  font-weight: 600; }

/* line 351, ../sass/screen.scss */
em {
  font-style: italic; }

/* line 353, ../sass/screen.scss */
small {
  font-size: 0.8em;
  font-style: italic; }

/* line 358, ../sass/screen.scss */
hr {
  border-color: #dddddd;
  border-style: solid;
  margin: 2em 0; }

/* line 364, ../sass/screen.scss */
blockquote {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fcfcfc;
  font-family: "republic-web", serif;
  font-style: italic;
  margin: 20px;
  padding: 20px; }

/* line 373, ../sass/screen.scss */
article li span {
  color: #636570;
  font-size: 90%;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase; }

/* line 383, ../sass/screen.scss */
.icon {
  margin: 0.5em 0;
  font-weight: normal; }
  /* line 386, ../sass/screen.scss */
  .icon:before {
    font-family: 'entypo';
    font-size: 58px;
    content: attr(data-icon);
    speak: none; }
  /* line 392, ../sass/screen.scss */
  .icon.list-link:before {
    font-size: 28px; }

/* line 397, ../sass/screen.scss */
.cc {
  border-bottom: none;
  color: #636570;
  float: right;
  margin-top: 2em;
  padding: 1em; }
  /* line 403, ../sass/screen.scss */
  .cc:before {
    font-size: 72px; }
  /* line 406, ../sass/screen.scss */
  .cc:hover {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    border-bottom: none;
    color: #dd4a38; }

/* line 415, ../sass/screen.scss */
.social .icon {
  font-size: 72px;
  margin-right: 0.25em; }
  /* line 418, ../sass/screen.scss */
  .social .icon.twitter:before, .social .icon.tumblr:before, .social .icon.github:before, .social .icon.dribbble:before, .social .icon.instagram:before, .social .icon.pinterest:before {
    font-family: 'entypo-social';
    content: attr(data-icon); }
  /* line 422, ../sass/screen.scss */
  .social .icon.rss:before {
    font-family: 'entypo';
    content: attr(data-icon); }

/* ANCHORS ********************************************************************************************/
/* line 431, ../sass/screen.scss */
a {
  border-bottom: 1px dashed #aaaaaa;
  color: #dd4a38;
  text-decoration: none; }
  /* line 435, ../sass/screen.scss */
  a:hover {
    border-bottom: 1px solid #c3c6d5;
    color: #464646; }

/* line 441, ../sass/screen.scss */
h1 a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #dd4a38; }
  /* line 446, ../sass/screen.scss */
  h1 a:hover {
    border-bottom: none;
    color: #464646; }

/* line 452, ../sass/screen.scss */
h2 a, h4 a, nav a, footer a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #474747; }
  /* line 457, ../sass/screen.scss */
  h2 a:hover, h4 a:hover, nav a:hover, footer a:hover {
    border-bottom: none;
    color: #dd4a38; }

/* line 463, ../sass/screen.scss */
h3 a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #108698; }
  /* line 468, ../sass/screen.scss */
  h3 a:hover {
    border-bottom: none;
    color: #464646; }
  /* line 472, ../sass/screen.scss */
  h3 a:after {
    color: #c3c6d5;
    content: "→";
    margin-left: 0.2em; }
  /* line 477, ../sass/screen.scss */
  h3 a:hover:after {
    color: #108698; }

/* line 482, ../sass/screen.scss */
h5 a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  border-bottom: none;
  color: #9c9eab;
  padding: 1em; }
  /* line 488, ../sass/screen.scss */
  h5 a:hover {
    border-bottom: none;
    color: #464646; }

/* MEDIA QUERIES ********************************************************************************************/
@media (max-width: 19em) {
  /* line 497, ../sass/screen.scss */
  nav {
    font-size: 0.6em;
    line-height: 130%;
    padding: 2em 0; }
    /* line 501, ../sass/screen.scss */
    nav .title {
      margin-bottom: 1em;
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block; }
      /* line 503, ../sass/screen.scss */
      nav .title .name {
        display: block; }
    /* line 509, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      text-align: left; }
      /* line 513, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 519, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 0px; }
    /* line 522, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 523, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      margin-bottom: 3em; }
      /* line 526, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 530, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%; }
      /* line 534, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 539, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 5.26316%; }
      /* line 540, ../sass/screen.scss */
      .page aside h4 {
        font-size: 0.8em;
        margin-bottom: 1em; }
    /* line 545, ../sass/screen.scss */
    .page h1 {
      font-size: 1.4em; }
    /* line 546, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 547, ../sass/screen.scss */
    .page h3 {
      font-size: 1em; }
    /* line 548, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 549, ../sass/screen.scss */
    .page h5 {
      font-size: 0.8em; }
    /* line 550, ../sass/screen.scss */
    .page p {
      font-size: 0.7em;
      line-height: 125%; }
    /* line 555, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.7em;
      line-height: 125%; }

  /* line 561, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 563, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center; }
      /* line 569, ../sass/screen.scss */
      footer ul.social li {
        font-size: 42px; }
    /* line 571, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 576, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.6em; }

  /* line 582, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 20em) and (max-width: 30em) {
  /* line 591, ../sass/screen.scss */
  nav {
    font-size: 0.9em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 595, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 600, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      text-align: left; }
      /* line 604, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 610, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 0px; }
    /* line 613, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 614, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      margin-bottom: 3em; }
      /* line 617, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
      /* line 621, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 625, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 30%; }
    /* line 630, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 3.44828%; }
      /* line 631, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.2em;
        margin-bottom: 1em; }
    /* line 636, ../sass/screen.scss */
    .page h1 {
      font-size: 2.2em; }
    /* line 637, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 638, ../sass/screen.scss */
    .page h3 {
      font-size: 1.5em; }
    /* line 639, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 640, ../sass/screen.scss */
    .page h5 {
      font-size: 1.2em; }
    /* line 641, ../sass/screen.scss */
    .page p {
      font-size: 0.9em;
      line-height: 130%; }
    /* line 646, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.9em;
      line-height: 130%; }

  /* line 652, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 654, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      margin-bottom: 0.8em;
      margin-right: 0;
      text-align: center; }
      /* line 660, ../sass/screen.scss */
      footer ul.social li {
        font-size: 52px; }
    /* line 662, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 3.44828%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 667, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 673, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 30.1em) and (max-width: 40em) {
  /* line 682, ../sass/screen.scss */
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 686, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 691, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      text-align: left; }
      /* line 695, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 701, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 20px; }
    /* line 704, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 705, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      margin-bottom: 3em; }
      /* line 708, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 712, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 25%; }
      /* line 716, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 721, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 2.5641%; }
      /* line 722, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.4em;
        margin-bottom: 1em; }
    /* line 727, ../sass/screen.scss */
    .page h1 {
      font-size: 2.6em; }
    /* line 728, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 729, ../sass/screen.scss */
    .page h3 {
      font-size: 1.6em; }
    /* line 730, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 731, ../sass/screen.scss */
    .page h5 {
      font-size: 1.2em; }
    /* line 732, ../sass/screen.scss */
    .page p {
      font-size: 0.9em;
      line-height: 130%; }
    /* line 737, ../sass/screen.scss */
    .page ul.links li {
      font-size: 0.9em;
      line-height: 130%; }

  /* line 743, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 745, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0; }
      /* line 751, ../sass/screen.scss */
      footer ul.social li {
        font-size: 52px; }
    /* line 753, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 758, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 764, ../sass/screen.scss */
  blockquote {
    font-size: 0.7em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
@media (min-width: 40.1em) and (max-width: 63em) {
  /* line 773, ../sass/screen.scss */
  nav {
    font-size: 1em;
    line-height: 130%;
    padding: 2em 0 2em 1em; }
    /* line 777, ../sass/screen.scss */
    nav .title {
      width: 100%;
      float: left;
      margin-right: 2.5641%;
      display: block;
      margin-bottom: 0.2em; }
    /* line 782, ../sass/screen.scss */
    nav .contents {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      text-align: left; }
      /* line 786, ../sass/screen.scss */
      nav .contents li {
        margin-left: 0;
        margin-right: 0.6em; }

  /* line 792, ../sass/screen.scss */
  .page {
    padding-bottom: 0px;
    padding-top: 20px; }
    /* line 795, ../sass/screen.scss */
    .page section {
      padding-top: 1.5em; }
    /* line 796, ../sass/screen.scss */
    .page article {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      margin-bottom: 3em; }
      /* line 799, ../sass/screen.scss */
      .page article .block {
        margin: 1em auto;
        width: 90%; }
      /* line 803, ../sass/screen.scss */
      .page article .inline {
        margin: 0 0.5em 0.2em 0;
        width: 20%; }
      /* line 807, ../sass/screen.scss */
      .page article .license {
        margin-top: 1em;
        text-align: right; }
    /* line 812, ../sass/screen.scss */
    .page aside {
      width: 100%;
      float: left;
      margin-right: 2.04082%; }
      /* line 813, ../sass/screen.scss */
      .page aside h4 {
        font-size: 1.4em;
        margin-bottom: 1em; }
    /* line 818, ../sass/screen.scss */
    .page h1 {
      font-size: 2.8em; }
    /* line 819, ../sass/screen.scss */
    .page h2 {
      font-size: 1.2em; }
    /* line 820, ../sass/screen.scss */
    .page h3 {
      font-size: 1.7em; }
    /* line 821, ../sass/screen.scss */
    .page h3.top {
      margin-top: 1em; }
    /* line 822, ../sass/screen.scss */
    .page h5 {
      font-size: 1.3em; }

  /* line 824, ../sass/screen.scss */
  footer {
    padding-bottom: 70px; }
    /* line 826, ../sass/screen.scss */
    footer ul.social {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      margin-bottom: 0.8em;
      margin-left: 1em;
      margin-right: 0; }
      /* line 832, ../sass/screen.scss */
      footer ul.social li {
        font-size: 62px; }
    /* line 834, ../sass/screen.scss */
    footer .logo {
      width: 100%;
      float: left;
      margin-right: 2.04082%;
      display: block;
      font-size: 1em;
      text-align: right; }
      /* line 839, ../sass/screen.scss */
      footer .logo img {
        float: right;
        margin-right: 0.5em; }

  /* line 845, ../sass/screen.scss */
  blockquote {
    font-size: 0.8em;
    line-height: 140%;
    margin: 1em;
    padding: 1em; } }
