---
layout: daily
title: Daily
category: daily
---

{% for post in site.posts limit: 10 %}
  {% if post.category contains "daily" %}
    <div class="daily-img-container">
      <img class="daily-img" src="{{ site.baseurl }}/images/{{ post.image }}">
    </div>
    {% if post.content contains "<!-- more -->" %}
      {% include post-daily-excerpt.html %}
    {% else %}
      {% include post-daily.html %}
    {% endif %}
  {% endif %}
{% endfor %}

<a class="button-hairline button-center" href="{{ site.baseurl }}/category/{{ page.category }}.html">Daily Archive</a>
