<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container">

      {% include header.html %}

      <article>

        {% if page.category == "notes" %}
          <h2>Notes</h2>
        {% elsif page.category == "recently" %}
          <h2>Notes</h2>
          <h3 class="category-title">Recently</h3>
        {% elsif page.category == "writing-meta" %}
          <h2>Notes</h2>
          <h3 class="category-title">Writing</h3>
        {% elsif page.category == "writing-markets" %}
          <h2>Notes</h2>
          <h3 class="category-title">Writing Markets</h3>
        {% elsif page.category == "film" %}
          <h2>Notes</h2>
          <h3 class="category-title">Film</h3>
        {% elsif page.category == "things" %}
          <h2>Notes</h2>
          <h3 class="category-title">Things</h3>
        {% elsif page.category contains "photos" %}
            <h2>Photos</h2>
        {% elsif page.category contains "lakebook" %}
          <h2>Photos</h2>
          <h3 class="category-title">Lakebook</h3>
        {% endif %}

        {{ content }}

        <ul class="index-list">
        {% for post in site.categories[page.category] %}
          {% if page.category contains "photos" %}
          <li>
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
              <!-- <img src="{{ site.baseurl }}/images/{{ post.image }}" /> -->
            </a>
            <span>{{ post.date | date: "%e %B %Y" }}</span>
          </li>
          {% else %}
          <li>
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            <span>{{ post.date | date: "%e %B %Y" }}</span>
          </li>
          {% endif %}
        {% endfor %}
        </ul>

      </article>

      {% include footer.html %}

    </div>

  </body>

</html>
