<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container">

      {% include header.html %}

      <article>

        <h2>{{ page.title }}</h2>

        {{ content }}

        <ul class="index-list">
        {% for post in site.categories[page.category] %}
          {% if page.category contains "photos" %}
          <li>
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
              <!-- <img src="{{ site.baseurl }}/images/{{ post.image }}" /> -->
            </a>
            <span>{{ post.date | date: "%e %B %Y" }}</span>
          </li>
          {% else %}
          <li>
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            <span>{{ post.date | date: "%e %B %Y" }}</span>
          </li>
          {% endif %}
        {% endfor %}
      </ul>

      </article>

      {% include footer.html %}

    </div>

  </body>

</html>
