<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% for post in site.categories.notes limit: 1 %}

      <div class="post-header" {% if post.image %} style="background-image: url({{ site.baseurl }}/images/{{ post.image }}); background-position: center; background-size: cover;" {% endif %}></div>

    {% endfor %}

    <div class="container">

      {% include article.html %}

      {% include aside.html %}

    </div>

    {% include footer.html %}

  </body>

</html>
