{% include header.html %}

  <section>
    <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
    <aside>
      <h4>{{ page.date }}</h4>
      <p class="summary">{{ page.summary }}</p>
    </aside>
    <article>
      {{ page.content }}
      <!-- Temporary Creative Commons license icon until the Sass/Font-icons for Compass gem issue gets sorted out. -->
      <a class="icon-creative-commons" href="http://creativecommons.org/licenses/by-sa/3.0/">
        <span aria-hidden="true" data-icon="&#xe000;"></span>
      </a>
      <!-- Creative Commons license icon via Font-icons for Compass
      <p class="license"><a class="cc-icon" href="http://creativecommons.org/licenses/by-sa/3.0/"></a></p> -->
      <h5><a href="../writing">All articles &#8594;</a></h5>
    </article>
  </section>

{% include footer.html %}