{% include header.html %}

<div class="home">
	<section>
		<span aria-hidden="true" class="icon" data-icon="&#128640;"></span>
		<a href="/"><h1>Jen Myers</h1></a>
		<p><a href="../about/">Web designer + developer, instructor and speaker. &rarr;</a></p>
		<div class="item article">
			<span aria-hidden="true" class="icon" data-icon="&#10002;"></span>
  		<h4>Latest article</h4>
	  	<div class="item-title">
		  	{% assign first_post = site.posts.first %}
			  {% for post in site.posts limit: 1 %}
			    {% include post-title.html %}
			  {% endfor %}
			</div>
			<h6><a href="../writing/">See all articles</a></h6>
  	</div>

  	<div class="item talk">
  		<span aria-hidden="true" class="icon" data-icon="&#59160;"></span>
			<h4>Next talk</h4>
			<div class="item-title">
				<a href="http://www.apple.com/retail/northmichiganavenue/">
					<h2>Apple Store</h2>
					<h5>10th July 2013 · Chicago, IL</h5>
				</a>
			</div>
			<h6><a href="../speaking/">See all talks</a></h5>
		</div>

  	<div class="item project">
  		<span aria-hidden="true" class="icon" data-icon="&#128188;"></span>
			<h4>Current project</h4>
			<div class="item-title">
				<a href="http://highvisibilityproject.org">
					<h2>High Visibility Project</h2>
				</a>
			</div>
			<h6><a href="../projects/">See all projects</a></h6>
		</div>

		<a class="contact" href="mailto:hello@jenmyers.net">Talk to me?</a>

		<ul class="social">
      <li><a class="icon twitter" data-icon="&#62217;" href="http://twitter.com/antiheroine" title="Twitter"></a></li>
      <li><a class="icon tumblr" data-icon="&#62229;" href="http://jenmyers.tumblr.com" title="Tumblr"></a></li>
      <li><a class="icon github" data-icon="&#62208;" href="http://github.com/jenmyers" title="GitHub"></a></li>
      <li><a class="icon dribbble" data-icon="&#62235;" href="http://dribbble.com/jenmyers" title="Dribbble"></a></li>
      <li><a class="icon instagram" data-icon="&#62253;" href="http://instagram.com/antiheroine" title="Instagram"></a></li>
      <li><a class="icon pinterest" data-icon="&#62226;" href="http://pinterest.com/deliberatepixel/" title="Pinterest"></a></li>
      <li><a class="icon rss" data-icon="&#59194;" href="http://feeds.feedburner.com/jenmyers" title="RSS"></a></li>
     </ul>

	</section>
</div>

{% include footer.html %}