<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-wrapper">

      <div class="page-container">

        <header class="page-header">

          {% if page.title == "Writing" %}
            {% include header-writing.html %}
            {% elsif page.title contains "Log" %}
            {% include header-log.html %}
            {% elsif page.title contains "Projects" %}
            {% include header-projects.html %}
            {% else %}
            {% include header-about.html %}
          {% endif %}

        </header>

        <div class="container">

          <div class="page">

            <article class="page-content">
              {{ content }}
            </article>

          </div>

        </div>

        {% include footer.html %}

      </div>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

  </body>

</html>
