<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <header class="post-page-header" {% if page.bgimage %} style="background-image: url(../images/{{ page.bgimage }})" {% endif %} >

      <div class="circle-bottom icon-post-bg">

        <svg class="icon icon-header icon-pencil icon-post">
          <use xlink:href="{{ site.baseurl }}/defs.svg#icon-pencil"></use>
        </svg>

      </div>

    </header>

    <div class="container">

      <div class="page">

        <header class="post-header">
          <h1 class="post-title"><a href="{{ page.url }}" id="title">{{ page.title }}</a></h1>

          <p class="post-summary">{{ page.summary }}</p>
          <h2 class="post-meta post-category"><a href="{{ site.baseurl }}/category/{{ page.category }}.html">{{ page.category }}</a></h2>
          <h2 class="post-meta">By {{ page.author }} • {{ page.date | date: "%-d %B %Y" }}</h2>
        </header>

        <article class="post-content">
          {{ content }}
          <hr />
        </article>

        <a class="button-hairline button-center" href="{{ site.baseurl }}/daily/">Daily Home</a>
        
      </div>

    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("#video").fitVids();
      });
    </script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

  </body>

</html>
