<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <header class="post-page-header">

      <div class="circle-bottom icon-post-bg">

        <i class="icon icon-newspaper-o icon-3x icon-post"></i>

      </div>

    </header>

    <div class="container">

      <div class="page">

        <header class="post-header">
          <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
          <p class="post-summary">{{ page.summary }}</p>
          <h2 class="post-meta">By {{ page.author }} • {{ page.date | date: "%-d %B %Y" }}</h2>
        </header>

        <article class="post-content">
          {{ content }}
          <hr />
        </article>

<!--         <footer class="post-footer">
          <hr />
          <p class="post-conclusion">{{ page.conclusion }}</p>
        </footer> -->

      </div>

    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

  </body>

</html>
